@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('./JetBrainsMono-Regular.woff2') format('woff2'),
    url('./JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
