ARUBA


                                         Import requirements

   1. Food: Meat/Poultry

Agencies that receive, store and sell imported products must be registered with the Chamber of Commerce,
which is a government regulation. Meat and poultry may only be imported from USDA and EU approved
slaughterhouses. A declaration of importation must be made in advance at the Veterinary Service. The
Veterinary Service revises the following documents:
    • Official health Certificate of the country of origin;
    • Invoice, bill of cargo;
    • An appraisal fee: 5% of the customs value of meat;
    • Consequently, the Veterinary Service will grant the import license if all documents are in compliance.
First-time shipments of canned meats must be inspected by the Veterinary Service. Subsequently the
inspection requirement is waived as long as the subsequent shipments are from the same supplier. Processed
meat products with past due dates may be confiscated and destroyed by the Veterinary Service. With the
cooperation of the importers, other meats that are spoiled or in an unhealthy state are turned over to authorities
and destroyed.
For further inquiries, please contact the Veterinary Services.
An Import License from the Department of Economic Affairs, Commerce and Industry is required for the
following products:

    a. Rice
    b. Tea
    c. Coffee (Powdered coffee)
    d. Baby Food/Milk Powder
    e. Dried milk
    f. Edible oil (salad oil)
    g. Canned Milk
    h. Sugar
    i. Potatoes
    j. Legumes (beans and peas), whether or not in air-tight packaging
    k. Meat, dried, salted or smoked prepared or preserved in cans or other air-tight packaging
    l. Fish, frozen, prepared or preserved in cans or other airtight packaging
    m. Vegetables, frozen, prepared or preserved in cans or other airtight packaging
    n. Medicinal products
    o. Chicken, frozen and/or chilled, whole or in pieces
    p. Beef, frozen and/or chilled, in pieces or in parts
    q. Corn flour
The only restriction that exists for imported food products pertains to chicken eggs.
However, as domestic supply is insufficient to cover demand, this restriction is normally waived. Health
authorities require that first-time shipments of perishables (i.e. seafood, produce, etc.) be accompanied by a
sanitary certificate from the country of origin, after which the requirement is waived as long as the subsequent
shipments are from the same supplier.

   2. Health inspection

All foods (including import) destined for human must be wholesome and fit for human consumption. Foods
that are imported into Aruba must always originate from hygienic and safe source(s). Products that are
                                                                                                                1
 imported must have proper labeling. Must have the name of the product, list of ingredients, quantity of the
 products, ingredient list, expired date, storage instruction, importer information, place of origin and batch
 number. A health certificate is required for first-time shipment of perishable (potentially hazardous foods)
 foods.
 Perishable foods must always be kept and maintained outside the temperature danger zone. The temperature
 danger zone is between 5ºC (40ºF) and 60ºC (160ºF). When importing frozen foods, these must always be
 kept frozen -18ºC (0ºF) or below.
 For items likes fisheries that are imported in NON-FROZEN state, the method of transportation and storage
 of the product(s) must be provided. Products that are termed fresh implies that the food is unprocessed, in its
 raw state and has not been frozen or subjected to any form of thermal processing or any other form of
 preservation.

3.        Pesticides and Other Contaminants:

All pesticides must be registered with the Bureau of Pharmaceutical Affairs of the Department of Public
Health. However, Aruba has no regulations regarding pesticides and other contaminants in food products.

4.        Other Regulations and Requirements:

Products are not required to be laboratory tested.
Product samples shipped via express mail or parcel post are subject only to import regulations (i.e. customs
duty). The addressee is responsible for the duty on sample and mail order shipments.
Exporters should ensure that the addressee is informed of and agrees to accept the pending shipment to avoid
it being returned at the cost of the exporter. Health authorities monitor ports of entry and the retail/wholesale
trade for any products deemed to pose a risk to public or animal health. No import certification documents are
required.

     5.   Registration of Trademarks and Service brands:

According to the Aruba Trademark Act, the right of exclusive use of a brand, pertains to the one, who has
made first use of said brand in Aruba. The right of exclusive use extends solely to those products or services,
for which said brand is being used, or had been used on a date not prior the last three years. The trademark
owner who requests registration of a brand first is also considered the first user of the brand and has exclusive
right of use, but solely in the classes the brand is registered.

To obtain registration of a brand in Aruba the applicant has to file a request in triplicate at the Bureau. The
trade or service brand has to be apt for the distinguishing of the goods or services from those of others.

Registration also gives exclusive rights of use but under current law it does not necessarily signify first use. If
applicant is established outside Aruba, he must choose domicile in Aruba at the office of a recognized
trademark agent.

     6. Patent Agent

According to arts. 20 & 24 of the Aruba Patent Act. a patent-agent is a person who has passed the
patent-attorney examination of the Bureau of Intellectual Property of Aruba and who is permanently residing
in Aruba and is allowed to render services in the field of intermediation in patent-affairs, including the
registration of patent at the Bureau on behalf of the patent owner who is not domiciled in Aruba.




                                                                                                                 2
   7. Plants and animals
If you are importing plants, you must report the declaration of importation and associated invoices, health
certificates, bill of cargo, etc. to Department of Agriculture, Livestock and Fishery, better known as Santa
Rosa. Santa Rosa will review the documents and grant the import license if all documents are in compliance.
Prior to importing and / or exporting live animals one should first inform and check well the possibilities in
advance at the Veterinary Service (vetservice@despa.gov.aw). Depending on the case, the Veterinary Service
will indicate what is possible and what requirements must be met.
   8. Medicines and Supplements
The importer/agent/wholesaler should obtain an import license and should be registered at the Public Health
Inspection Aruba. The medicine/supplement must be inspected by the Public Health Inspection. The following
documents will be reviewed: original factory invoice with the name of the importer, registration number and
country of origin; Bill of Lading.
   9. Telecommunication devices
An import license is not required for the import of telecommunication devices such as:
• Household phones, excluding wireless household phones
• Modems, except for wireless modems, and fax machines
Telecommunication devices such as cordless phones, baby phones, wireless intercoms and wireless
microphones tend to use the same frequency band as the local telecommunication companies, this in turn will
cause interference in the telecommunication system. Therefore, it is prohibited to import telecommunication
devices that support the same frequency used by the telecommunication companies on Aruba.
The frequencies currently used on Aruba are:
   ➢   690-800 MHz,
   ➢   800-900 MHz,
   ➢   900-1000 MHz,
   ➢   1700-1800 MHz,
   ➢   1800-1900 MHz,
   ➢   1900-2100 MHz,
   ➢   2100-2200 MHz,
Cordless phones supporting 2.4 GHz and 5.8 GHz frequencies are permitted.
Please take into account that certain telecommunication devices can only be imported with a license issued by
the Telecommunications Affairs Department.
Frequency used by Dect 6.0.
   ➢   1880-1900 Mhz Europa
   ➢   1920 -1930 Mhz US/ Canada
   ➢   1900- 1920 Mhz China
   ➢   1893-1906 Mhz Japan
   ➢   1910-1930 Mhz Latin America
Electronic devices supporting the above-mentioned DECT 6.0 frequencies interfere with the
telecommunication system on Aruba.

                                                                                                            3
Radio-frequency identification (RFID) tags and Frequency Blockers are not permitted on Aruba.
It is recommended to contact the department of telecommunication for the approval of any device. This
approval is free of charge, however written approvals cost 300.00 florins.
   10. (fire) Weapons
A weapon regulation and a stamp from the police department is required in order to be able to import
airsoft/paintball guns.
The import of firearms and ammunition is prohibited unless you have been authorized.


Import Procedures:

Customs clearance is executed by the importer or receiving agent who must be registered at the Chamber of
Commerce in order to do business in Aruba. Import documentation such as invoices and the bill of lading may
be in English. However, the Customs declaration, which is normally handled by the importer’s receiving agent,
must always be in Dutch (the official language in Aruba).

After arrival at the port and shipments are approved (unopened), they are forwarded to the importer. Customs
officers inspect the shipments on the premises where further documentation is presented. Duty is paid directly
to the Department of Customs.



Appendix 1. Patent Agent List:

               Agency                            Address                        E-mail             Phone (+297)

          Advocatenkantoor                    Vondellaan 4           generalaruba@sbpartners.net     582-7668

          Soliana Bonapart                  Oranjestad, Aruba            www.sbpartners.net

             & Partners

           F.H.C Corp. N.V.                  Morgenster 36,              fhcroes@setarnet.aw         582-8300

                                            Santa Cruz, Aruba

          Advocatenkantoor                 L.G. Smith Blvd. 50,        patent-wise@yahoo.com         568-8011

           Gomez & Bikker                   Oranjestad, Aruba

          Advocatenkantoor

            Sjiem Fat & Co                 J.G Emanstraat 49A          general@arubalaw.com          582-1255

                                            Oranjestad, Aruba            www.arubalaw.com            582-2414

         Century Trademark                 L.G. Smith Blvd. 48,         centrust@setarnet.aw         583-3357

            Agencies N.V.                   Oranjestad, Aruba

          Advocatenkantoor                 Arulex Center Punta           arulex@setarnet.aw          582-2138

       Croes, Wever & Tchong                    Brabo z/n


                                                                                                            4
            VanEps Kunneman                  L.G. Smith Blvd. 64,              www.ekvandoorne.com          583-8464

                VanDoorne                     Oranjestad, Aruba                info@ekvandoorne.com

               Niew & Figaroa                 Fergusonstraat 37,                 Lenor@setarnet.aw          582-2646

            Jansen Trademark                  Oranjestad, Aruba                 gawinkel@curinfo.aw         582-3694

                  Agency

        Advocatenkantoor mr.                         Constatijn               antonio@carlolawofice.com     582-4440

            A.A.D.A. Carlo N.B.                    Huygenstraat 5

                                                    Mon Plaisir,

                                              Oranjestad, Aruba

      Advocaten Kloes & de Cuba              L.G. Smith Blvd. 22,             wkloes@kloesdecuba.com        582-3262

                                              Oranjestad, Aruba               ebritten@kloesdecuba.com

Source: http://www.opi-aruba.org/Fees.htm




Appendix 2. Broker Contacts:

                        Trade name                           (+297) Phone                        E-mail
 AFS Aruba Freight Systems                                          5825382           edwinh@arubafreightsystem.com
 Aruba Global Logistics                                             5857331            leiladepalm@arubaglobal.com
 Aruba International Forwarders                                     5821274               aif.services@setarnet.aw
 Aruba International Relocations                                    5836652                 naima@arubair.com
 Amerijet                                                           5826000               haydeehh@yahoo.com
 Ashley Broker                                                      5821793              ashleybroker@setarnet.aw

 B C S Cargo Services                                               5861500               bcs_cargo@yahoo.com

 Bon Bini Cargo Services/ Flamingo International
                                                                    5237900             deveerd@bonbinicargo.com
 Incorporated/ Cargo International Services


 Cavalier logistics Aruba                                           5887222              martin.meijll@cavalier.net


 Complete Logistics                                                 5824912                claudio@arubaws.com


 Easy Cargo Aruba, Logistics & Enterprises                          5836350            easycargoaruba@hotmail.com


 Elvis Cargo                                                        5834091               e.kock@elviscargo.com


                                                                                                                      5
E.M. Cargo is your Connexion                 5855421        mnicolaas@your-connexion.com

Fast Delivery Services/UPS Express                              gigi@fastdeliverydc.com

Gasa International                           5824625                uri@gasaint.com


G.P. Cargo Services N.V                      5828344             gpcargo@hotmail.com


G/T Cargo Services                           5837251           offawetuko@hotmail.com


Inter-Island Transport, Import & Export      5859931        interislandtransport@hotmail.com


Juvercargo                                   5833954            juvercargo@hotmail.com


Land Seair Cargo                          5827215/5829284        lsa_cargo@yahoo.com


Mastercargo N.V.                             5237923          info@mastercargo-aruba.com


Maxor Sea & Freight                          5828616            maxoraruba@gmail.com


M.M. Worldwide Services                      5840251        marlen.mmworldwide@gmail.com

Ocean-Air Express(Aruba)                     5859233           raquel@oceanairaruba.com

Omega Trading                                5848000              johnodor@live.com
Procusta                                     5826629              belgica@setarnet.aw
Roos Sea Services & Enterprises              5826330         roos_sea_service@hotmail.com

RRR Cargo Services                           5882268            rrr_cargo@hotmail.com


R & P Freight Services                       5867674            junjuncroes@gmail.com

Ruiz Import, Export & Consultancy                                 gr302@hotmail.com

Seaview Investments                          5868873           boekhoudtj@hotmail.com


S.E.L. Maduro & Sons (Aruba)                 5822300           gdunlock@selmaduro.com

Ace Cargo Service                            5838299              acecargo@gmail.com

Swa So Import & Export                       5827933           swaso_2009@hotmail.com

Swissport Cargo Services                     5822470         benny.daguiar@swissport.com

                                                                                           6
 Toy Cargo & Courier Services                                                      toy_cargoservices@hotmail.com

 Verina Trading Company                                          5848000                vtcaruba@hotmail.com

 Vicari Trading N.V                                              5882889              invoice@vissercargo.com

 Stripes Freight Services                                        5216610             stephen@interporaruba.com

 Super Cargo Services                                            5878919           supercargo.services@yahoo.com
 Alba Transport Management Aruba                                 5865115              ops@albatrosaruba.com
 Hermes Cargo                                                    5887775              cathy@hermesaruba.com



Appendix 3. Government Regulatory Agency Contacts:

 Government Regulatory Agency            Address                     E-mail                    Phone (+297)
 Department of Economic Affairs,         L.G. Smith Boulevard 160    deaci@setarnet.aw         T: (297) 582-1181
 Commerce & Industry ( Import
                                         Oranjestad, Aruba                                     F: (297) 583-4494
 license)

 Customs Office (Customs procedures
                                         L.G. Smith                  douane@siad.aw            T: (297) 582-1800
 and tariffs)
                                         Boulevard 84-88                                       F: (297) 583-4367
                                         Oranjestad, Aruba

 Food Control & Hygiene Office           Hospitalstraat 4                                      T: (297) 582-3073
 Department of Public Health             Oranjestad, Aruba                                     F:(297) 588-4180

 Veterinary Service                      Barcadera 1, Aruba          vetservice@aruba.gov.aw T: (297) 585-0400
                                                                                             F: (297) 585-1828

 Bureau of Pharmaceutical Affairs        Bernhardstraat 75                                     T: (297) 584-1199
 Department of Public Health
                                         San Nicolas, Aruba                                    F: (297) 584-9143
 (Pesticide registration)

 Trademarks Division                     Adriaan Lacle Blvd. 3       opi@aruba.gov.aw          T: (297) 583-1200
 Aruba Bureau of Intellectual Property   Oranjestad, Aruba                                     F: (297) 583-8773

 Telecommunications Affairs              Rumbastraat 19                                        T: (297) 582-6069


Appendix 4. List local wholesalers:



 Caribbean Overseas              Scotlandstraat 47       5821064           info@caribbeanoverseas.com
 Romar Trading                   Scotlandstraat 71       5234676           info@romartrading.com
 Compra N.V.                     Engelandstraat 30       5824891           info@compra-aruba.com
 Frasa Trading                   Gutenbergstraat 2       5822704           fe.saladin@frasaaruba.com
                                                                                                                   7
Mercal Trading             Weg Rooi Congo13A 5848636     mercaltrading@setarnet.aw
El Louvre/Witec            Arendstraat 111     5885577   Info@ellouvrewitec.com
Moises de Marchena         Sabana Blanco 70    5821440
Satex Trading              Seroe Blanco 8      5831830   satex@setarnet.aw
Delfos                     Emmastraat 30       5826469
Famar Trading              Croesstraat 31-B    5821073
Aquaruba Distribution N.V. Wayaca 31-B         5822503   valeria.aquaruba@hotmail.com
TEC NV.                    Croesstraat 5-A     5821304   marketingmanager@tecaruba.com
Martijn Trading            Italiestraat 1      5821492   martijn.aruba@martijn-trading.com
Huan Zhan Wholesale        Montaña 41          5877423   huanzhan@setarnet.aw
Kong Hing Wholesale        Schotlandstraat 33  5889889   info@konghingaruba.com
Ling & Sons Supercenter    Italiestraat 26     5884450     info@lingiga.com
Oduber Agencies            L.G. Smith Blvd. 18 5825333   info@oduber.com
Manrique Capriles          Wayaca 33-D         5834036   orders@manriquecapriles.com
Discount Food Supplies     Wayaca 45           5827940    info@dfs-aruba.com
Save More Food Stores      Weg Sero Preto 43B 5840634
PriceSmart                 Av.M.J.Croes103     5884400   shopping.info@pricesmart.com
Weng Kee International     St. Cruz 366        5852558
Prime Distributors         Balashi 62          5854884
Premium Interfood           Bubali 14-A        5222000   financials@superfoodaruba.com
Deli Caribbean Aruba       Jucuri 84           5851666   www.delicaribbean.net
Lenor N.V.                 Av. M.J. Croes 37   5822646
Medicosmetics Aruba        Seroe Blanco 20-B 5825672     lizayra.polak@curapharm.com
Antilla Energy             Edisonstraat 23     7323388   gfungafat@antillaenergy.com
Semos Import               Mahuma 47-P         5854393
Aljazar Trading            Tanki Leendert 10-B 5889132
Carex Paper products N.V. Caya ritmo 8         5871600   daniello@softexpaper.com
Ferm Caribbean Trading      Italiestraat 40    5880006    www.fermcaribbeantrading.com
Bersah Aruba N.V.           Bushiri 33         5834622    www.bersaharuba.com
Aruba Trading Company       Weststraat 15      5823950    www.arubatrading.com
Karinel Trading Aruba                                    karineltrading@hotmail.com
Ellcey trading                                           ellcey_t@hotmail.com
De veer S & Son Inc                                      deveersonsaruba@gmail.com




                                                                                             8
