// TODO: ask designers about breakpoint values
$breakpoint_mobile: 464px;
$breakpoint_large-mobile: 528px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1024px;
$breakpoint_large-desktop: 1440px;
$breakpoint_huge-desktop: 1600px;

@function minmax($breakpoint, $max: false) {
  @if $max {
    @return 'max-width: #{$breakpoint - 1}';
  } @else {
    @return 'min-width: #{$breakpoint}';
  }
}

@mixin mobile($max: false) {
  @media (minmax($breakpoint_mobile, $max)) {
    @content;
  }
}

@mixin large-mobile($max: false) {
  @media (minmax($breakpoint_large-mobile, $max)) {
    @content;
  }
}

@mixin tablet($max: false) {
  @media (minmax($breakpoint_tablet, $max)) {
    @content;
  }
}

@mixin desktop($max: false) {
  @media (minmax($breakpoint_desktop, $max)) {
    @content;
  }
}

@mixin large-desktop($max: false) {
  @media (minmax($breakpoint_large-desktop, $max)) {
    @content;
  }
}

@mixin huge-desktop($max: false) {
  @media (minmax($breakpoint_huge-desktop, $max)) {
    @content;
  }
}
