$basic-spacing: 10px;

$inner-window-width: 448px;
$inner-window-height: 256px;

$inner-spacing-mini: 8px;
$inner-spacing-small: $inner-spacing-mini * 1.5;
$inner-spacing-medium: $inner-spacing-mini * 2;
$inner-spacing-big: $inner-spacing-mini * 3;

$border-radius-mini: 8px;
$border-radius-small: $border-radius-mini * 1.5;
$border-radius-medium: $border-radius-mini * 2;
$border-radius-big: $border-radius-mini * 3;
