$basic-spacing: 16px; // 10px;
$basic-spacing-mini: 5px;
$basic-spacing-small: $basic-spacing-mini * 2;
$basic-spacing-medium: $basic-spacing-mini * 4;

$inner-window-width: 448px;
$inner-window-height: 217px;

$inner-spacing-mini: 8px;
$inner-spacing-small: $inner-spacing-mini * 1.5;
$inner-spacing-medium: $inner-spacing-mini * 2;
$inner-spacing-big: $inner-spacing-mini * 3;
$inner-spacing-large: $inner-spacing-mini * 5;

$bridge-width: 448px;
$bridge-height: 515px;
$select-asset-item-height: 71px;
