@use 'sass:math';

$basic-spacing: 16px; // 10px;
$basic-spacing-mini: 5px;
$basic-spacing-small: $basic-spacing-mini * 2;
$basic-spacing-medium: $basic-spacing-mini * 4;

$inner-window-width: 464px;
$inner-window-height: 217px;
$sidebar-max-width: 190px;
$sidebar-collapsed-width: 82px;

$inner-spacing-mini: 8px;
$inner-spacing-tiny: math.div($inner-spacing-mini, 2);
$inner-spacing-small: $inner-spacing-mini * 1.5;
$inner-spacing-medium: $inner-spacing-mini * 2;
$inner-spacing-big: $inner-spacing-mini * 3;
$inner-spacing-large: $inner-spacing-mini * 5;

$bridge-height: 515px;
$select-asset-item-height: 71px;
$checkbox-width: 20px;
$header-height: 64px;
$footer-height: 32px;
$explore-search-input-max-width: 290px;

// layout layers (z-index)
$app-background-layer: -1;
$app-body-layer: 0;
$app-content-layer: 1;
$app-sidebar-layer: 4;
$app-loader-layer: 2000;
$app-above-loader-layer: 2001;
