// This file includes mixins for usage in different components
$button-custom-shadow: -1px -1px 5px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.05);

// TODO 4 alexnatalia: Right now this is just a mixin because there are no appropriate focus behaviour for some elements (tabs for example) and we need more time to investigate the problem
@mixin focus {
  &:focus {
    outline: 1px solid var(--s-color-theme-accent-focused) !important;
  }
}

@mixin columns($columns, $gap) {
  width: calc((100% / $columns) - ((#{$gap} * (#{$columns} - 1)) / $columns));
}

@mixin element-size($className: '', $width: 40px, $height: $width) {
  .#{$className} {
    height: $height;
    width: $width;
  }
}

@mixin container-styles {
  margin: 0 auto 0;
  padding: $inner-spacing-big $inner-spacing-big $inner-spacing-mini * 4;
  min-height: $inner-window-height;
  max-width: $inner-window-width;
  background-color: var(--s-color-utility-surface);
  border-radius: var(--s-border-radius-medium);
  box-shadow: var(--s-shadow-dialog);
  color: var(--s-color-base-content-primary);
}

@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin generic-input-lines($inputLineClass: 'input-line') {
  .#{$inputLineClass} {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: $inner-spacing-mini;
    font-size: var(--s-font-size-mini);
    font-weight: 300;
    line-height: var(--s-line-height-medium);

    &--footer {
      align-items: flex-start;
      margin-top: $inner-spacing-tiny;
      margin-bottom: 0;
      min-height: $inner-spacing-mini * 2.625; // 21px

      .formatted-amount--fiat-value {
        flex-grow: 1;
        margin-right: calc(var(--s-basic-spacing) / 2);
        font-size: var(--s-font-size-small);
        white-space: nowrap;

        + .token-address {
          margin-left: var(--s-basic-spacing);
        }
      }

      .token-address.input-value {
        margin-left: auto;
        padding-left: $inner-spacing-mini;
      }
    }

    .input-title,
    .input-value {
      display: flex;
      align-items: center;
      color: var(--s-color-base-content-secondary);

      &--primary {
        color: var(--s-color-base-content-primary);
      }

      &--uppercase {
        text-transform: uppercase;
      }

      & > *:not(:last-child):not(.input-value--primary) {
        margin-right: $inner-spacing-tiny;
      }
    }

    .input-value {
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: $inner-spacing-mini;
      .formatted-amount--fiat-value {
        margin-left: $inner-spacing-tiny;
        text-align: right;
      }
    }
  }
}

@mixin buttons() {
  .el-buttons {
    display: flex;
    align-items: center;

    &--between {
      flex: 1;
      justify-content: space-between;
    }

    .el-button {
      margin-right: $inner-spacing-tiny;
      margin-left: $inner-spacing-tiny;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin full-width-button($buttonClass: 's-primary', $marginTop: $inner-spacing-medium) {
  .#{$buttonClass} {
    margin-top: $marginTop;
    width: 100%;
  }
}

@mixin vertical-divider($dividerClass: 'icon-divider', $verticalMargin: $inner-spacing-mini) {
  .#{$dividerClass} {
    margin-top: $verticalMargin;
    margin-bottom: $verticalMargin;
  }
}

@mixin bridge-container {
  max-width: $inner-window-width;
  width: 100%;

  .el-loading-mask {
    border-radius: var(--s-border-radius-medium);
  }
}

@mixin bridge-content($min-height: 400px) {
  min-height: $min-height;
  width: 100%;
}

@mixin svg-icon($url: '', $width: var(--s-icon-font-size-mini), $height: $width) {
  display: block;
  width: $width;
  height: $height;
  @if $url != '' {
    background-image: url($url);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin loading {
  animation: rotation 2s infinite linear;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

@mixin exchange-tabs {
  $tabs-class: '.el-tabs';

  .s-tabs.s-tabs--exchange {
    &#{$tabs-class} {
      #{$tabs-class}__header {
        margin-bottom: $inner-spacing-medium;
      }
    }
    #{$tabs-class} {
      &__header {
        margin-left: $inner-spacing-big;
        width: calc(100% - 2 * #{$inner-spacing-big});

        #{$tabs-class}__nav-wrap {
          #{$tabs-class}__item {
            padding-right: $inner-spacing-medium;
            padding-left: $inner-spacing-medium;
            width: 50%;
            font-size: var(--s-font-size-medium);
            font-weight: 400 !important;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            &.is-focus:not(.is-active) {
              box-shadow: none !important;
            }
            &.is-disabled {
              &,
              &:hover,
              &:focus.is-focus {
                color: var(--s-color-base-content-tertiary);
              }
            }
          }
        }
      }
      &__nav {
        width: 100%;
        &-wrap {
          background-color: var(--s-color-base-background);
        }
      }
      &__content {
        min-height: calc(#{$select-asset-item-height} * 6);
      }
    }
    .asset {
      @include focus-outline($withOffset: true);
    }
  }
}

@mixin page-header-title($withHover: false) {
  font-size: var(--s-heading3-font-size);
  font-weight: 300 !important;
  text-transform: capitalize;
  letter-spacing: var(--s-letter-spacing-mini);
}

@mixin rewards-hint($horizontalPadding: $inner-spacing-medium, $withColor: false) {
  &-hint {
    font-size: 13px;
    font-weight: 300;
    line-height: var(--s-line-height-base);
    padding: 0 $horizontalPadding;
    text-align: center;
    @if $withColor == true {
      color: var(--s-color-base-content-primary);
    }
  }
}

@mixin collapse-items($withBottomMargin: true, $withChildrenTopMargin: false) {
  $collapse-icon-height: 36px;

  .el-collapse-item {
    width: 100%;
    @if $withChildrenTopMargin == true {
      margin-top: $inner-spacing-medium;
    } @else {
      margin-bottom: $inner-spacing-medium;
    }
    padding: 0;
    background: var(--s-color-utility-surface);
    border-radius: var(--s-border-radius-small);
    box-shadow: var(--s-shadow-element-pressed);
    color: var(--s-color-base-content-secondary);
    font-size: var(--s-font-size-mini);
    line-height: var(--s-line-height-small);
    text-align: center;
    &.is-active {
      background: var(--s-color-base-background);
      box-shadow: var(--s-shadow-element);
    }
    @if $withBottomMargin == true {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__header,
    &__wrap {
      border-bottom: none;
      background-color: unset;
    }
    &__content {
      margin-top: 0;
      padding: 0 $inner-spacing-medium $inner-spacing-medium;
    }
    &__arrow {
      margin-right: 0;
      flex-shrink: 0;
      position: relative;
    }

    .el-collapse-item__header {
      height: auto;
      min-height: #{$collapse-icon-height + $inner-spacing-medium * 2};
      line-height: $collapse-icon-height;
      padding: $inner-spacing-medium;
    }
  }
}

@mixin slippage-tolerance-tabs {
  flex: 1;
  font-size: var(--s-font-size-medium);
  font-weight: 400 !important;
  text-align: center;
}

@mixin radio-title {
  font-size: var(--s-font-size-medium);
  font-weight: 600;
}

@mixin scrollbar(
  $marginOffset: 0,
  $verticalRight: 2px,
  $isLeft: false,
  $withHorizontalScroll: false,
  $hideVerticalScroll: false
) {
  &.el-scrollbar {
    margin-left: $marginOffset;
    margin-right: $marginOffset;

    & > .el-scrollbar__wrap {
      @if $withHorizontalScroll == false {
        overflow-x: hidden;
        margin-bottom: 0px !important; // to disable element-ui negative margin
      }
      &,
      & > .el-scrollbar__view {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
      }
    }
    & > .el-scrollbar__bar.is-vertical {
      right: $verticalRight;

      @if $isLeft == true {
        left: 0;
      }

      @if $hideVerticalScroll == true {
        width: 0;
      }
    }
  }
}

@mixin icon-styles($hasPointerCursor: false, $withHover: true, $hoverColor: var(--s-color-base-content-secondary)) {
  color: var(--s-color-base-content-tertiary);
  transition: var(--s-transition-default);
  @if $hasPointerCursor == true {
    cursor: pointer;
  }
  @if $withHover == true {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin copy-address() {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@mixin input-slider() {
  display: inline-block;

  &.one-char .el-input__inner {
    width: 1ch;
  }
  &.two-char .el-input__inner {
    width: 2ch;
  }
  &.three-char .el-input__inner {
    width: 3ch;
  }

  .input-title {
    line-height: var(--s-line-height-big);
    font-weight: 600;
  }

  .s-input__content {
    .percent {
      font-size: var(--s-heading1-font-size);
    }
  }

  .s-input__input {
    flex: 0;
  }

  .el-input__inner {
    font-size: var(--s-heading1-font-size);
    font-weight: 800;
    line-height: var(--s-line-height-mini);
    letter-spacing: var(--s-letter-spacing-mini);
    border: 0;
    border-radius: 0;
    background: none;
    height: auto;
    min-width: 1ch;
    max-width: 3ch;
  }

  .el-slider__runway {
    background-color: var(--s-color-base-content-tertiary);
  }
}

@mixin focus-outline($inner: false, $focusWithin: false, $borderRadius: '', $withOffset: false) {
  $outline: 1px solid var(--s-color-outline);
  @if $inner == true {
    outline: $outline;
    @if $borderRadius != '' {
      border-radius: $borderRadius;
    }
  } @else {
    @if $focusWithin == true {
      &:focus-within {
        outline: $outline;
      }
    } @else {
      &:focus:not(:active) {
        outline: $outline;
        @if $borderRadius != '' {
          border-radius: $borderRadius;
        }
      }
    }
    @if $withOffset == true {
      outline-offset: -1px;
    }
  }
}

@mixin explore-table {
  $fixed-column-width: 280px;
  $cell-index-width: 40px;
  $cell-logo-width: 36px;
  $tokens-row-width: 52px;

  // table misc styles
  .explore-table {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;

    &__primary {
      color: var(--s-color-base-content-secondary);
    }
    &__secondary {
      color: var(--s-color-base-content-quaternary);
      font-size: var(--s-font-size-extra-mini);
    }
    &__accent {
      color: var(--s-color-fiat-value);
    }
    &-cell {
      display: flex;
      align-items: center;

      & + & {
        margin-top: $inner-spacing-mini;
      }

      & > *:not(:last-child) {
        margin-right: $inner-spacing-mini;
      }
    }
  }

  // el-table style overrides
  .explore-table.el-table {
    background: transparent;
    font-size: var(--s-font-size-medium);
    font-weight: 400;

    thead {
      text-transform: uppercase;
      font-size: var(--s-font-size-small);
      letter-spacing: var(--s-letter-spacing-mini);

      th > .cell {
        font-weight: 500 !important;
      }

      i:not(.sort-icon) {
        @include icon-styles($withHover: false);
      }
    }

    tr {
      background-color: transparent;
    }

    &:not(.el-table--border) {
      tr {
        td, th {
          & > .cell {
            padding: $inner-spacing-tiny $inner-spacing-mini;
          }
          &:first-child > .cell {
            padding-left: $inner-spacing-medium;
          }
          &:last-child > .cell {
            padding-right: $inner-spacing-medium;
          }
        }
      }
    }

    &, &.el-table--enable-row-hover {
      .el-table__body,
      .el-table__header {
        tr,
        th {
          &,
          &:hover,
          &.hover-row {
            & > td,
            & > th {
              background-color: var(--s-color-utility-surface);
            }
          }
        }
      }
    }

    th.el-table__cell.is-leaf,
    td.el-table__cell {
      border-color: var(--s-color-base-border-secondary);
    }

    .el-table__fixed {
      height: 100% !important; // overrides element-ui js style property

      &:before,
      &:after {
        content: unset;
      }

      .el-table__fixed-body-wrapper {
        height: 100% !important; // overrides element-ui js style property
      }
    }

    .el-table__body-wrapper {
      height: auto !important; // overrides element-ui js style property

      &.is-scrolling-left ~ .el-table__fixed {
        box-shadow: inherit;
      }

      .el-scrollbar__bar.is-horizontal {
        right: 0;
        left: unset;
        width: calc(100% - #{$fixed-column-width});
      }
    }

    &.el-table--scrollable-x {
      .el-table__body-wrapper {
        overflow-x: hidden;
      }
    }

    .el-table__empty-block {
      width: 100% !important; // overrides element-ui js style property
    }

    .cell {
      word-break: normal;
    }
  }

  // table cell styles
  .explore-table-item {
    &-index {
      width: $cell-index-width;
      display: inline-block;
      vertical-align: middle;

      &--body {
        color: var(--s-color-base-content-tertiary);
        font-size: var(--s-font-size-small);
        font-weight: 800;
      }

      &--head {
        cursor: pointer;

        &.active {
          color: var(--s-color-theme-accent);
        }
      }
    }
    &-logo {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      margin: 0 $inner-spacing-mini;
      width: $cell-logo-width;

      &--plain {
        margin: 0;
        width: initial;
      }
    }
    &-info {
      display: inline-block;
      vertical-align: middle;
      line-height: var(--s-line-height-medium);
      letter-spacing: var(--s-letter-spacing-mini);
      margin: 0 $inner-spacing-mini;

      &--head {
        flex-flow: column wrap;
        line-height: var(--s-line-height-small);

        & > span {
          margin-right: $inner-spacing-tiny;
          white-space: nowrap;
        }
      }

      &--body {
        font-weight: 300;
      }
    }
    &-name {
      font-size: var(--s-font-size-extra-small);
      font-weight: 600;
    }
    &-address {
      display: flex;
      font-size: var(--s-font-size-extra-mini);
      .tokens-item-address__value {
        &.token-address {
          font-size: var(--s-font-size-extra-mini);
          font-weight: 400;
          color: var(--s-color-base-content-primary);
        }
      }
    }
    &-tokens {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
    }
    &-token {
      font-size: var(--s-font-size-small);
      font-weight: 400;
    }
    &-price {
      font-size: var(--s-font-size-medium);
      white-space: nowrap;
    }
    &-date {
      color: var(--s-color-base-content-secondary);
      font-size: var(--s-font-size-mini);
      font-weight: 400;
      line-height: var(--s-line-height-small);
    }
    &-amount.formatted-amount--fiat-value {
      color: var(--s-color-base-content-primary) !important;
    }
  }
}

@mixin app-status-item {
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  height: $footer-height - 2px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  @include focus-outline;
}

@mixin browser-notification-dialog {
  display: flex;
  flex-direction: column;

  &__info {
    text-align: center;
    margin: $basic-spacing $basic-spacing * 2;
    font-size: 15px;
    font-weight: 300;
  }

  &__btn {
    margin-bottom: $basic-spacing;
  }
}

@mixin custom-tabs {
  $tabs-class: '.el-tabs';

  .s-tabs {
    &#{$tabs-class} {
      #{$tabs-class}__header {
        width: 100%;
        #{$tabs-class}__item {
          font-weight: 600;
        }
      }
    }
  }
  #{$tabs-class} {
    &__header {
      margin-bottom: 0;
    }
    &__nav {
      width: 100%;
    }
    &__item {
      width: 50%;
      text-align: center;
      font-size: var(--s-font-size-medium);
    }
  }
}

@mixin popper-content {
  background: var(--s-color-utility-surface);
  border-color: var(--s-color-base-border-secondary);
  border-radius: var(--s-border-radius-mini);
  box-shadow: var(--s-shadow-dialog);
  color: var(--s-color-base-content-primary);
  padding: $inner-spacing-medium;
}

@mixin mobile-app-logos {
  .logo {
    font-size: 12px;

    &__app-store {
      background: url('@/assets/img/mobile/app-store-logo.svg') no-repeat !important;
      background-position: 10% center !important;
      background-size: 12px !important;
      color: var(--s-color-base-content-secondary) !important;
      width: 110px;
      height: var(--s-size-small) !important;
      margin-right: $inner-spacing-mini;
      padding-left: 30px !important;
    }

    &__google-play {
      background: url('@/assets/img/mobile/google-play-logo.svg') no-repeat !important;
      background-position: 10% center !important;
      background-size: 12px !important;
      color: var(--s-color-base-content-secondary) !important;
      width: 128px;
      padding-left: 30px !important;
      height: var(--s-size-small) !important;
    }
  }
}
