// This file includes mixins for usage in different components
$button-custom-shadow: -1px -1px 5px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.05);

// TODO 4 alexnatalia: Right now this is just a mixin because there are no appropriate focus behaviour for some elements (tabs for example) and we need more time to investigate the problem
@mixin focus {
  &:focus {
    outline: 1px solid var(--s-color-theme-accent-focused) !important;
  }
}

@mixin columns($columns, $gap) {
  width: calc((100% / $columns) - ((#{$gap} * (#{$columns} - 1)) / $columns));
}

@mixin token-styles {
  .token {
    display: flex;
    align-items: center;
    &-logo {
      margin-right: $inner-spacing-mini;
    }
    &-balance {
      margin-left: auto;
    }
    &-balance-value {
      margin-left: $inner-spacing-tiny;
      letter-spacing: var(--s-letter-spacing-big);
      word-break: break-all;
    }
  }
}

@mixin element-size($className: "", $width: 40px, $height: $width) {
  .#{$className} {
    height: $height;
    width: $width;
  }
}

@mixin container-styles {
  margin: 0 auto 0;
  padding: $inner-spacing-big $inner-spacing-big $inner-spacing-mini * 4;
  min-height: $inner-window-height;
  max-width: $inner-window-width;
  background-color: var(--s-color-utility-surface);
  border-radius: var(--s-border-radius-medium);
  box-shadow: var(--s-shadow-dialog);
  color: var(--s-color-base-content-primary);
}

@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin generic-input-lines($inputLineClass: "input-line") {
  .#{$inputLineClass} {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: $inner-spacing-mini;
    font-size: var(--s-font-size-mini);
    font-weight: 300;
    line-height: var(--s-line-height-medium);

    &--footer {
      margin-top: $inner-spacing-tiny;
      margin-bottom: 0;
      min-height: $inner-spacing-mini * 2.25;

      .formatted-amount--fiat-value {
        flex-grow: 1;
        margin-right: calc(var(--s-basic-spacing) / 2);
        font-size: var(--s-font-size-small);
        white-space: nowrap;

        + .token-address {
          margin-left: var(--s-basic-spacing);
        }
      }

      .token-address.input-value {
        margin-left: auto;
        padding-left: $inner-spacing-mini;
      }
    }

    .input-title,
    .input-value {
      display: flex;
      align-items: center;
      color: var(--s-color-base-content-secondary);

      &--primary {
        color: var(--s-color-base-content-primary);
      }

      &--uppercase {
        text-transform: uppercase;
      }

      & > *:not(:last-child):not(.input-value--primary) {
        margin-right: $inner-spacing-tiny;
      }
    }

    .input-value {
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: $inner-spacing-mini;
      .formatted-amount--fiat-value {
        margin-left: $inner-spacing-tiny;
        text-align: right;
      }
    }
  }
}

@mixin buttons() {
  .el-buttons {
    display: flex;
    align-items: center;

    &--between {
      flex: 1;
      justify-content: space-between;
    }

    .el-button {
      margin-right: $inner-spacing-tiny;
      margin-left: $inner-spacing-tiny;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .el-button {
    &--max {
      &.neumorphic {
        box-shadow: $button-custom-shadow;
      }
    }

    &--select-token {
      &.token-select-button--token {
        &, &:hover, &:active, &:focus, &.focusing, &.s-pressed {
          background-color: var(--s-color-utility-surface);
        }
        &:hover, &:active, &:focus, &.focusing, &.s-pressed {
          box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px #FFFFFF, 0px 0px 20px rgba(247, 84, 163, 0.5);
        }
      }
      &, &:hover, &:active, &:focus, &.focusing, &.s-pressed {
        box-shadow: $button-custom-shadow;
      }
    }
  }
}

@mixin full-width-button($buttonClass: 's-primary', $marginTop: $inner-spacing-medium) {
  .#{$buttonClass} {
    margin-top: $marginTop;
    width: 100%;
  }
}

@mixin vertical-divider($dividerClass: 'icon-divider', $verticalMargin: $inner-spacing-mini) {
  .#{$dividerClass} {
    margin-top: $verticalMargin;
    margin-bottom: $verticalMargin;
  }
}

@mixin info-line ($class: 'swap-info') {
  .#{$class} {
    display: flex;
    align-items: center;
    margin-top: $inner-spacing-mini;
    width: 100%;
    padding-right: $inner-spacing-mini;
    padding-left: $inner-spacing-mini;
    color: var(--s-color-base-content-secondary);
    &-container {
      width: 100%;
    }
    > span:first-of-type {
      margin-right: $inner-spacing-small;
      word-break: keep-all;
    }
    &-value {
      margin-left: auto;
      text-align: right;
      word-break: break-all;
    }
    // TODO: Check this part
    .asset-title {
      word-break: keep-all;
      white-space: nowrap;
    }
    .el-tooltip {
      margin-right: $inner-spacing-mini;
      flex-shrink: 0;
    }
    &-icon {
      position: relative;
      height: var(--s-size-mini);
      width: var(--s-size-mini);
      background-color: var(--s-color-base-background);
      border-radius: var(--s-border-radius-small);
      &:hover {
        background-color: var(--s-color-base-background-hover);
        cursor: pointer;
      }
      &:before {
        position: absolute;
        display: block;
        height: var(--s-icon-font-size-mini);
        width: var(--s-icon-font-size-mini);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: var(--s-icon-font-size-mini);
      }
    }
  }
}

@mixin search-item ($class: 'el-form-item--search') {
  .#{$class} {
    margin-bottom: 0;
    position: relative;
    .s-button--clear {
      width: 32px;
      margin-right: -8px;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }
}

@mixin bridge-container {
  max-width: $bridge-width;
  width: 100%;

  .el-loading-mask {
    border-radius: var(--s-border-radius-medium);
  }
}

@mixin bridge-content ($min-height: 400px) {
  min-height: $min-height;
  width: 100%;
}

@mixin input-font-styles {
  height: var(--s-size-small);
  font-size: $s-font-size-input;
  line-height: var(--s-line-height-small);
}

@mixin svg-icon ($url: '', $width: var(--s-icon-font-size-mini), $height: $width) {
  display: block;
  width: $width;
  height: $height;
  @if $url != '' {
    background-image: url($url);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin status-icon ($withLoading: false) {
  &-icon {
    align-self: center;
    @include svg-icon;
    &--waiting,
    &--pending {
      @if $withLoading == true {
        @include loading;
      }
      background-image: url("~@/assets/img/status-pending.svg");
      height: var(--s-font-size-mini);
      width: var(--s-font-size-mini);
    }
    &--error {
      background-image: url("~@/assets/img/status-error.svg");
    }
    &--success {
      background-image: url("~@/assets/img/status-success.svg");
    }
  }
}

@mixin loading {
  animation: rotation 2s infinite linear;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

// TODO 4 alexnatalia: Check these styles later
@mixin button-styles {
  font-weight: 600 !important;
  text-transform:  uppercase;
  font-size: $s-font-size-button;
  line-height: var(--s-line-height-small);
}

@mixin next-button {
  width: 100%;
  letter-spacing: var(--s-letter-spacing-big);
}

@mixin bottom-button {
  padding: 0;
  max-width: $bridge-width;
  @include button-styles;
  &:active {
    border: 1px solid var(--s-color-theme-accent);
    color: var(--s-color-theme-accent);
  }
}

@mixin empty-search {
  color: var(--s-color-base-content-tertiary);
}

@mixin exchange-tabs {
  $tabs-class: ".el-tabs";

  .s-tabs.s-tabs--exchange {
    &#{$tabs-class} {
      #{$tabs-class}__header {
        margin-bottom: $inner-spacing-medium;
      }
    }
    #{$tabs-class} {
      &__header {
        margin-left: $inner-spacing-big;
        width: calc(100% - 2 * #{$inner-spacing-big});

        #{$tabs-class}__nav-wrap {
          #{$tabs-class}__item {
            padding-right: $inner-spacing-medium;
            padding-left: $inner-spacing-medium;
            width: 50%;
            font-size: var(--s-font-size-medium);
            font-weight: 400 !important;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            &.is-focus:not(.is-active) {
              box-shadow: none !important;
            }
            &.is-disabled {
              &, &:hover, &:focus.is-focus {
                color: var(--s-color-base-content-tertiary);
              }
            }
          }
        }
      }
      &__nav {
        width: 100%;
        &-wrap {
          background-color: var(--s-color-base-background);
        }
      }
      &__content {
        min-height: calc(#{$select-asset-item-height} * 6);
      }
    }
    .asset {
      @include focus-outline($withOffset: true);
    }
  }
}

@mixin page-header-title($withHover: false) {
  font-size: var(--s-heading3-font-size);
  font-weight: 300 !important;
  text-transform: capitalize;
  letter-spacing: var(--s-letter-spacing-mini);
}

@mixin rewards-hint($horizontalPadding: $inner-spacing-medium, $withColor: false) {
  &-hint {
    font-size: 13px;
    font-weight: 300;
    line-height: var(--s-line-height-base);
    padding: 0 $horizontalPadding;
    text-align: center;
    @if $withColor == true {
      color: var(--s-color-base-content-primary);
    }
  }
}

@mixin collapse-items($withBottomMargin: true, $withChildrenTopMargin: false) {
  $collapse-icon-height: 36px;

  .el-collapse-item {
    width: 100%;
    @if $withChildrenTopMargin == true {
      margin-top: $inner-spacing-medium;
    } @else {
      margin-bottom: $inner-spacing-medium;
    }
    padding: 0;
    background: var(--s-color-utility-surface);
    border-radius: var(--s-border-radius-small);
    box-shadow: var(--s-shadow-element-pressed);
    color: var(--s-color-base-content-secondary);
    font-size: var(--s-font-size-mini);
    line-height: var(--s-line-height-small);
    text-align: center;
    &.is-active {
      background: var(--s-color-base-background);
    }
    @if $withBottomMargin == true {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__header,
    &__wrap {
      border-bottom: none;
      background-color: unset;
    }
    &__content {
      margin-top: 0;
      padding: 0 $inner-spacing-medium $inner-spacing-medium;
    }
    &__arrow {
      margin-right: 0;
    }

    &.is-active {
      box-shadow: var(--s-shadow-element);
    }

    .el-collapse-item__header {
      height: auto;
      min-height: #{$collapse-icon-height + $inner-spacing-medium * 2};
      line-height: $collapse-icon-height;
      padding: $inner-spacing-medium;
    }
  }
}

@mixin slippage-tolerance-tabs {
  flex: 1;
  font-size: var(--s-font-size-medium);
  font-weight: 400 !important;
  text-align: center;
}

@mixin radio-title {
  font-size: var(--s-font-size-medium);
  font-weight: 600;
}

@mixin scrollbar ($marginOffset: 0, $verticalRight: 2px) {
  &.el-scrollbar {
    margin-left: $marginOffset;
    margin-right: $marginOffset;

    & > .el-scrollbar__wrap {
      overflow-x: hidden;
      margin-bottom: 0px !important; // to disable element-ui negative margin
    }
    & > .el-scrollbar__wrap {
      &, & > .el-scrollbar__view {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
      }
    }
    & > .el-scrollbar__bar {
      &.is-vertical {
        right: $verticalRight;
      }
    }
  }
}

@mixin icon-styles ($hasPointerCursor: false) {
  color: var(--s-color-base-content-tertiary);
  transition: var(--s-transition-default);
  @if $hasPointerCursor == true {
    cursor: pointer;
  }
  &:hover {
    color: var(--s-color-base-content-secondary);
  }
}

@mixin copy-address () {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@mixin input-slider () {
  display: inline-block;

  &.one-char .el-input__inner {
    width: 1ch;
  }
  &.two-char .el-input__inner {
    width: 2ch;
  }
  &.three-char .el-input__inner {
    width: 3ch;
  }

  .s-input__content {
    .percent {
      font-size: var(--s-heading1-font-size);
    }
  }

  .s-input__input {
    flex: 0;
  }

  .el-input__inner {
    font-size: var(--s-heading1-font-size) !important;
    line-height: var(--s-line-height-mini) !important;
    letter-spacing: var(--s-letter-spacing-mini) !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: none !important;
    height: auto !important;
    min-width: 1ch;
    max-width: 3ch;
  }

  .el-slider__runway {
    background-color: var(--s-color-base-content-tertiary);
  }
}

@mixin focus-outline($inner: false, $focusWithin: false, $borderRadius: '', $withOffset: false) {
  $outline: 1px solid var(--s-color-outline);
  @if $inner == true {
    outline: $outline;
    @if $borderRadius != '' {
      border-radius: $borderRadius;
    }
  } @else {
    @if $focusWithin == true {
      &:focus-within {
        outline: $outline;
      }
    } @else {
      &:focus:not(:active) {
        outline: $outline;
        @if $borderRadius != '' {
          border-radius: $borderRadius;
        }
      }
    }
    @if $withOffset == true {
      outline-offset: -1px;
    }
  }
}

@mixin explore-table {
  $fixed-column-width: 280px;
  $cell-index-width: 40px;
  $cell-logo-width: 36px;
  $tokens-row-width: 52px;

  // table misc styles
  .explore-table {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;

    &__primary {
      color: var(--s-color-base-content-secondary);
    }
    &__secondary {
      color: var(--s-color-base-content-quaternary);
      font-size: var(--s-font-size-extra-mini);
    }
    &__accent {
      color: var(--s-color-fiat-value);
    }
    &-cell {
      display: flex;
      align-items: center;

      & + & {
        margin-top: $inner-spacing-mini;
      }

      & > *:not(:last-child) {
        margin-right: $inner-spacing-mini;
      }
    }
    &-pagination {
      display: flex;
      margin-top: $inner-spacing-medium;
    
      .el-pagination__total {
        margin: auto;
      }
    }
  }

  // el-table style overrides
  .explore-table.el-table {
    background: transparent;
    font-size: var(--s-font-size-medium);
    font-weight: 600;

    thead {
      text-transform: uppercase;
      font-size: var(--s-font-size-small);
      letter-spacing: var(--s-letter-spacing-mini);

      [class^='s-icon-'],
      [class*=' s-icon-'] {
        @include icon-styles;
      }
    }

    tr {
      background-color: transparent;
    }

    tr,
    th {
      &,
      &:hover,
      &.hover-row {
        & > td,
        & > th {
          background: var(--s-color-utility-surface);
          .cell {
            padding: $inner-spacing-tiny $inner-spacing-mini;
          }
        }
      }
    }

    th.el-table__cell.is-leaf,
    td.el-table__cell {
      border-color: var(--s-color-base-border-secondary);
    }

    .el-table__fixed {
      height: 100% !important; // overrides element-ui js style property

      &:before,
      &:after {
        content: unset;
      }

      .el-table__fixed-body-wrapper {
        height: 100% !important; // overrides element-ui js style property
      }
    }

    .el-table__body-wrapper {
      height: auto !important; // overrides element-ui js style property

      &.is-scrolling-left ~ .el-table__fixed {
        box-shadow: inherit;
      }

      .el-scrollbar__bar.is-horizontal {
        right: 0;
        left: unset;
        width: calc(100% - #{$fixed-column-width});
      }
    }

    &.el-table--scrollable-x {
      .el-table__body-wrapper {
        overflow-x: hidden;
      }
    }

    .el-table__empty-block {
      width: 100% !important; // overrides element-ui js style property
    }

    .el-table__empty-text {
      color: var(--s-color-base-content-tertiary); // TODO [1.4]: remove after fix in ui-lib
    }

    .cell {
      word-break: normal;
    }
  }

  // table cell styles
  .explore-table-item {
    &-index {
      width: $cell-index-width;
      display: inline-block;
      vertical-align: middle;

      &--body {
        color: var(--s-color-base-content-tertiary);
        font-size: var(--s-font-size-small);
        font-weight: 800;
      }

      &--head {
        cursor: pointer;

        &.active {
          color: var(--s-color-theme-accent);
        }
      }
    }
    &-logo {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      margin: 0 $inner-spacing-mini;
      width: $cell-logo-width;

      &--plain {
        margin: 0;
        width: initial;
      }
    }
    &-info {
      display: inline-block;
      vertical-align: middle;
      line-height: var(--s-line-height-medium);
      letter-spacing: var(--s-letter-spacing-mini);
      margin: 0 $inner-spacing-mini;

      &--head {
        flex-flow: column wrap;
        line-height: var(--s-line-height-small);

        & > span {
          margin-right: $inner-spacing-tiny;
          white-space: nowrap;
        }
      }

      &--body {
        font-weight: 300;
      }
    }
    &-name {
      font-size: var(--s-font-size-extra-small);
      font-weight: 600;
    }
    &-address {
      display: flex;
      font-size: var(--s-font-size-extra-mini);
    }
    &-tokens {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
    }
    &-price {
      font-size: var(--s-font-size-medium);
      white-space: nowrap;
    }
    &-amount.formatted-amount--fiat-value {
      color: var(--s-color-base-content-primary) !important;
    }
    &-address {
      .tokens-item-address__value {
        &.token-address {
          font-size: var(--s-font-size-extra-mini);
          font-weight: 400;
          color: var(--s-color-base-content-primary);
        }
      }
    }
  }
}

@mixin app-status-item {
  $disabled-class: 'default';

  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  height: $footer-height - 2px;
  &:not(.#{$disabled-class}) {
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    @include focus-outline;
  }
}
