// different color palette based on user preferences

// classic
$s-color-classic-up: #34ad87;
$s-color-classic-down: #f754a3;
$s-color-classic-price-change-up: #24daa0;
$s-color-classic-price-change-down: #f8087b;

// deficiency
$s-color-deficiency-up: #448bf1;
$s-color-deficiency-down: #d07f3e;
$s-color-deficiency-price-change-up: #448bf1;
$s-color-deficiency-price-change-down: #d07f3e;

// traditional
$s-color-traditional-up: #75a390;
$s-color-traditional-down: #eb001b;
$s-color-traditional-price-change-up: #75a390;
$s-color-traditional-price-change-down: #eb001b;
