// different color palette based on user preferences

// classic
$s-color-classic-up: #34ad87;
$s-color-classic-down: #f754a3;

// deficiency
$s-color-deficiency-up: #448bf1;
$s-color-deficiency-down: #d07f3e;

// traditional
$s-color-traditional-up: #75a390;
$s-color-traditional-down: #eb001b;
