$s-font-size-settings: 10px;
$s-font-size-input: 20px;

$s-line-height-base: 1.4;
$s-line-height-mini: 1.2;
$s-line-height-small: 1.3;
$s-line-height-medium: 1.5;
$s-line-height-big: 1.8;

$s-font-weight-mini: 400;
$s-font-weight-small: 500;
$s-font-weight-medium: 600;
$s-font-weight-big: 700;

$s-letter-spacing-mini: -0.04em;
$s-letter-spacing-small: -0.02em;
$s-letter-spacing-medium: -0.01em;
$s-letter-spacing-big: 0.01em;

$s-font-feature-settings-title: "tnum" on, "lnum" on, "salt" on, "case" on;
$s-font-feature-settings-card-title: "tnum" on, "lnum" on, "ss01" on;
$s-font-feature-settings-card-body: "ss01" on, "salt" on;
$s-font-feature-settings-common: "tnum" on, "lnum" on, "case" on, "salt" on, "ss01" on;
$s-font-feature-settings-input: "tnum" on, "lnum" on;
