$font-size_basic: 14px;
$line-height_basic: 1.4;

$font-size_small: 0.857rem;
$font-size_normal: 1.142rem;
$font-size_medium: 1.714rem;
$font-size_large: 2.571rem;

// TODO 4 alexnatalia: add some responsive mixins and other font styles
