$s-font-size-settings: 10px;
$s-font-size-menu-small: 11px;
$s-font-size-input: 20px;
$s-heading3-caps-font-size: 10px;
$s-font-size-button: 15px;

$s-line-height-base: 1.4;
$s-line-height-mini: 1.2;
$s-line-height-small: 1.3;
$s-line-height-medium: 1.5;
$s-line-height-big: 1.8;

$s-font-weight-small: 400;
$s-font-weight-big: 700;

// TODO: remove it and use these var-s from the ui-library
// -------------------------------------------------------
$s-letter-spacing-mini: -0.04em;
$s-letter-spacing-small: -0.02em;
$s-letter-spacing-medium: -0.01em;
$s-letter-spacing-big: 0.01em;
$s-letter-spacing-type: 0.06em;

$s-font-feature-settings-title: normal;
$s-font-feature-settings-card-title: normal;
$s-font-feature-settings-card-body: normal;
$s-font-feature-settings-common: normal;
$s-font-feature-settings-input: normal;
$s-font-feature-settings-type: normal;
$s-font-feature-settings-button: normal;
// -------------------------------------------------------
