// TODO: move to UI Lib
$s-font-size-mini: 12px !default;
$s-font-size-small: 14px;
$s-font-size-medium: 16px !default;
$s-font-size-big: 24px !default;
$s-font-size-big-heading: 36px !default;

$s-line-height-mini: 1.3 !default;
$s-line-height-small: 1.4 !default;
$s-line-height-medium: 1.8 !default;

// TODO 4 alexnatalia: add some responsive mixins and other font styles
