$s-font-size-settings: 10px;
$s-font-size-menu-small: 11px;
$s-font-size-input: 20px;
$s-heading3-caps-font-size: 10px;
$s-font-size-button: 15px;

$s-font-weight-small: 400;
$s-font-weight-big: 700;
