$analog-background-primary-base: rgba(13, 16, 23, 1);
$analog-background-surface: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);

:root {
  --analog-background-primary-base: #{$analog-background-primary-base};
  --analog-background-surface: #{$analog-background-surface};
}