:root {
  --sidebar-width: #{$sidebar-max-width};
}

$font-weight-100: 'wght' 100;
$font-weight-200: 'wght' 200;
$font-weight-300: 'wght' 300;
$font-weight-400: 'wght' 400;
$font-weight-500: 'wght' 500;
$font-weight-600: 'wght' 600;
$font-weight-700: 'wght' 700;
$font-weight-800: 'wght' 800;

$country-emoji-font: 'Twemoji Country Flags';

@include generic-input-lines;

.el-loading-mask {
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: $app-loader-layer;

  .el-loading-spinner {
    height: var(--s-size-medium);
    width: var(--s-size-medium);
    margin-left: calc(50% - (var(--s-size-medium) / 2));
  }
}

.flag-emodji {
  &,
  &-input input.el-input__inner {
    font-family: $country-emoji-font;
  }
}

$networks: 'analog', 'sora', 'ethereum', 'ethereum-classic', 'avalanche', 'klaytn', 'polygon', 'arbitrum', 'binance-smart-chain', 'rococo', 'polkadot', 'kusama', 'acala', 'astar', 'curio', 'shiden', 'liberland', 'alphanet', 'moonbase', 'moonbeam', 'sora-polkadot', 'sora-kusama';
/* Networks Icons */
.network-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;

  @each $network in $networks {
    &--#{$network} {
      background-image: url('@/assets/img/networks/#{$network}.svg')
    }
  }

  @each $network in 'rococo', 'alphanet' {
    &--sora-#{$network} {
      background-image: url('@/assets/img/networks/#{$network}.svg');
      &::after {
        content: '';
        display: block;
        width: 50%;
        height: 50%;
        filter: drop-shadow(2px 4px 6px black);
        background-image: url('@/assets/img/networks/sora.svg');
      }
    }
  }
}

/*________________________________________COMMON LAYOUT________________________________________*/
h3 {
  text-transform: capitalize;
}
// TODO: fix outline issue in js ui library
.el-tooltip,
.el-slider__button-wrapper {
  outline: none;
}

div.el-pagination button,
div.el-collapse-item__wrap {
  background-color: unset !important;
}
span.el-pagination__total {
  padding: 0 8px;
}

/* FORMS */
div.history-item-operation {
  color: var(--s-color-theme-accent-hover) !important;
}
div.transaction-row_key {
  text-transform: uppercase;
}
div.transaction-row_value {
  color: var(--s-color-base-content-quaternary) !important;
  font-weight: 600;
}
/*_______________________ CURRENT UI FIXES FOR CONSISTENCY (GENERALLY BASED ON TEST USERS FEEDBACK) _______________________*/
button.el-button.el-tooltip.el-button--primary.el-button--medium.is-disabled.s-medium.s-border-radius-small.s-primary.s-i-position-left
  span {
  font-size: var(--s-icon-font-size-mini) !important;
}

span.sora-logo__title,
h3.base-title_text,
h3.page-header-title,
span.el-dialog__title,
h3.network-label,
p.app-disclaimer,
span.el-pagination__total,
div.el-tabs__item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.s-divider-tertiary {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.el-button--max {
  color: rgba(64, 216, 110, 1) !important;
}

button.el-button.neumorphic {
  text-transform: none;
}

.s-typography-button--medium {
  font-family: var(--s-font-family-system) !important;
  letter-spacing: var(--s-letter-spacing-mini) !important;
}

.el-message-box .el-message-box__btns {
  button.el-button.el-button--default {
    color: var(--s-color-base-on-accent);
  }
}

.account-select-dialog {
  .wallet-connection-text {
    .external-link {
      display: none !important;
    }
  }
}