$font-weight-100: 'wght' 100;
$font-weight-200: 'wght' 200;
$font-weight-300: 'wght' 300;
$font-weight-400: 'wght' 400;
$font-weight-500: 'wght' 500;
$font-weight-600: 'wght' 600;
$font-weight-700: 'wght' 700;
$font-weight-800: 'wght' 800;

$country-emoji-font: 'Twemoji Country Flags';

@include generic-input-lines;

.flag-emodji {
  &,
  &-input input.el-input__inner {
    font-family: $country-emoji-font;
  }
}

/* Networks Icons */
$s-icon-sora: '\0041';
$s-icon-eth: '\0044';
$s-icon-energy: '\0048';
.s-icon-sora {
  &:before {
    content: $s-icon-sora;
  }
}
.s-icon-eth {
  &:before {
    content: $s-icon-eth;
  }
}
.s-icon-energy {
  &.s-icon--network {
    &, &:hover {
      color: #a566ff !important;
    }
  }
  &:before {
    content: $s-icon-energy;
  }
}
[design-system-theme="light"] {
  .s-icon--network.s-icon {
    &-sora {
      &,
      &:hover {
        color: #e3232c !important;
      }
    }
    &-eth {
      &,
      &:hover {
        color: #627eea !important;
      }
    }
  }
}

/*________________________________________COMMON LAYOUT________________________________________*/
h3 {
  text-transform: capitalize;
}
// TODO: fix outline issue in js ui library
.el-tooltip,
.el-slider__button-wrapper {
  outline: none;
}

/* FONT WEIGHTS */
button.el-button--primary span,
button.el-button--max {
  font-variation-settings: $font-weight-800 !important;
}

div.el-pagination button,
div.el-collapse-item__wrap {
  background-color: unset !important;
}
span.el-pagination__total {
  padding: 0 8px;
}

/* FORMS */
div.history-item-operation {
  color: var(--s-color-theme-accent-hover) !important;
}
div.transaction-row_key {
  text-transform: uppercase;
}
div.transaction-row_value {
  color: var(--s-color-base-content-quaternary) !important;
  font-weight: 600;
}

i.el-notification__icon.el-icon-success,
i.el-notification__icon.el-icon-success:hover {
  color: var(--s-color-status-success) !important;
}
/*_______________________ CURRENT UI FIXES FOR CONSISTENCY (GENERALLY BASED ON TEST USERS FEEDBACK) _______________________*/
button.el-button.el-tooltip.el-button--primary.el-button--medium.is-disabled.s-medium.s-border-radius-small.s-primary.s-i-position-left
  span {
  font-size: var(--s-icon-font-size-mini) !important;
}

span.sora-logo__title,
h3.base-title_text,
h3.page-header-title,
span.el-dialog__title,
h3.network-label,
p.app-disclaimer,
span.el-pagination__total,
div.el-tabs__item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
