:root {
  --sidebar-width: #{$sidebar-max-width};
}

$font-weight-100: 'wght' 100;
$font-weight-200: 'wght' 200;
$font-weight-300: 'wght' 300;
$font-weight-400: 'wght' 400;
$font-weight-500: 'wght' 500;
$font-weight-600: 'wght' 600;
$font-weight-700: 'wght' 700;
$font-weight-800: 'wght' 800;

$country-emoji-font: 'Twemoji Country Flags';

@include generic-input-lines;

.flag-emodji {
  &,
  &-input input.el-input__inner {
    font-family: $country-emoji-font;
  }
}

$networks: 'sora', 'ethereum', 'ethereum-classic', 'avalanche', 'klaytn', 'polygon', 'binance-smart-chain', 'rococo', 'polkadot', 'kusama', 'acala', 'liberland', 'moonbase', 'sora-polkadot', 'sora-kusama';
/* Networks Icons */
.network-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;

  @each $network in $networks {
    &--#{$network} {
      background-image: url('~@/assets/img/networks/#{$network}.svg')
    }
  }

  &--sora-rococo {
    background-image: url('~@/assets/img/networks/rococo.svg');
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 50%;
      filter: drop-shadow(2px 4px 6px black);
      background-image: url('~@/assets/img/networks/sora.svg');
    }
  }
}

/*________________________________________COMMON LAYOUT________________________________________*/
// [TODO] fix in wallet: overflow-wrap: anywhere
.formatted-amount {
  overflow-wrap: break-word !important;
}

h3 {
  text-transform: capitalize;
}
// TODO: fix outline issue in js ui library
.el-tooltip,
.el-slider__button-wrapper {
  outline: none;
}

/* FONT WEIGHTS */
button.el-button--primary span,
button.el-button--max {
  font-variation-settings: $font-weight-800 !important;
}

div.el-pagination button,
div.el-collapse-item__wrap {
  background-color: unset !important;
}
span.el-pagination__total {
  padding: 0 8px;
}

/* FORMS */
div.history-item-operation {
  color: var(--s-color-theme-accent-hover) !important;
}
div.transaction-row_key {
  text-transform: uppercase;
}
div.transaction-row_value {
  color: var(--s-color-base-content-quaternary) !important;
  font-weight: 600;
}
/*_______________________ CURRENT UI FIXES FOR CONSISTENCY (GENERALLY BASED ON TEST USERS FEEDBACK) _______________________*/
button.el-button.el-tooltip.el-button--primary.el-button--medium.is-disabled.s-medium.s-border-radius-small.s-primary.s-i-position-left
  span {
  font-size: var(--s-icon-font-size-mini) !important;
}

span.sora-logo__title,
h3.base-title_text,
h3.page-header-title,
span.el-dialog__title,
h3.network-label,
p.app-disclaimer,
span.el-pagination__total,
div.el-tabs__item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
