/* ICON FONT */
@font-face {
  font-family: "soramitsu-icons";
  src: url("~@/assets/fonts/polkaswap_icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {color: var(--s-color-theme-secondary) !important; transition: all 0.125s ease-in-out;}
i:hover {color: var(--s-color-theme-secondary-hover) !important;}
h3 { text-transform: capitalize; }

/* MAIN LAYOUT */
body {
  background-color: var(--s-color-utility-body);
}
header.header {
  box-shadow: none !important;
  min-height: 76px !important;
  /*
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  */
}
button.polkaswap-logo {
  border-radius: unset !important;
  width: 173px !important;
  height: 46px !important;
}
div.app-main {
  /*
  height: 100vh !important;
  z-index: 1;
  */
}
div.app-body {
  margin-top: -76px;
  margin-left: -160px;
  flex-flow: unset !important;
  align-items: center;
  justify-content: center;
}
aside.app-sidebar {
  /*
  position: fixed;
  top: 76px;
  height: calc(100vh - 76px);
  z-index: 2;
  background-color: var(--s-color-utility-body);
  */
  z-index: 1;
  padding-bottom: 24px !important;
}
/*
.v-modal {z-index: 0 !important;}
*/
div.el-dialog__wrapper {
  display: flex;
}
div.el-dialog {
  flex-direction: column;
  align-self: center;
}

footer.app-footer {
  position: fixed;
  right: 2em;
  bottom: 2em;
  display: block !important;
  justify-content: unset !important;
  padding: 0 !important;
  z-index: -1;
}
span.sora-logo__title {
  text-transform: uppercase;
  font-weight: 200;
  color: var(--s-color-base-content-secondary) !important;
}
div.account-name {
  margin: -2px 8px 0 12px !important;
}


/* NAV MENU */
div.sidebar-item-content i {
  font-size: 28px !important;
}



/* DIV */
div.slippage-tolerance-settings {
  padding: 0 8px;
}



/* FONT WEIGHTS */
span.el-dialog__title {
  font-variation-settings: var(--s-font-weight-400) !important;
  letter-spacing: var(--s-letter-spacing-mini) !important;
}
button.el-button span {
  font-variation-settings: var(--s-font-weight-600) !important;
}
button.el-button--primary span,
button.el-button--choose-token span,
div.asset-search-actions button.el-button span,
button.el-button--max {
  font-variation-settings: var(--s-font-weight-800) !important;
}



/* TEXT */
span.token-balance-title,
span.bridge-item-title-label,
div.input-title.p4 span:first-child,
button.el-button--primary,
div.asset-search-actions button.el-button,
div.wallet-assets button.el-button,
div.asset-custom-actions button.el-button,
div.el-tabs__item,
button.el-button--create-pair span {
  text-transform: uppercase !important;
}
h3.page-header-title, h3.base-title_text {
  padding-left: 12px;
}

/*div.bridge-content div.header--bridge h3.page-header-title { visibility: hidden; position: relative; }
div.bridge-content div.header--bridge h3.page-header-title:after { visibility: visible; position: absolute; top: 0; left: 14px; content: "HASHI Bridge"; }
*/



/* CARDS */
div.el-card, div.el-dialog {
  background-color: var(--s-color-utility-surface) !important;
}



/* BUTTONS */
button.el-button.wallet {
  background-color: var(--s-color-utility-body) !important;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75), inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

button.el-button--choose-token {
  background-color: var(--s-color-utility-surface) !important;
  border: none !important;
  color: var(--s-color-base-content-primary) !important;
  font-size: var(--s-icon-font-size-small) !important;
  filter: drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.05)) drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.05));
  height: 33px;
  padding-right: 6px !important;
  transition: all 0.25s ease-in-out;
}
button.el-button--choose-token:hover {
  background-color: white !important;
  filter: drop-shadow(-1px -1px 5px rgba(247, 84, 163, 0.25)) drop-shadow(1px 1px 5px rgba(247, 84, 163, 0.25));
}

button.el-button--empty-token {
  background-color: var(--s-color-theme-secondary) !important;
  border-color: var(--s-color-theme-secondary) !important;
  color: white !important;
  font-size: var(--s-font-size-mini) !important;
  letter-spacing: var(--s-letter-spacing-medium) !important;
  filter: drop-shadow(1px 1px 5px #FFFFFF) drop-shadow(-1px -1px 5px #FFFFFF);
  height: 33px;
  padding-right: 6px !important;
  text-transform: uppercase;
  transition: all 0.125s ease-in-out;
}
button.el-button--empty-token:hover {
  background-color: var(--s-color-theme-secondary-hover) !important;
  color: var(--s-color-theme-secondary) !important;
}
button.el-button--empty-token:hover > span > i {
  background-color: var(--s-color-base-on-disabled) !important;
}

div.el-card.bridge-item {
  background-color: var(--s-color-base-background) !important;
}

button.el-button--empty-token span {
  padding-left: 2px;
}
button.el-button.s-primary:disabled {
  border-color: var(--s-color-base-border-primary) !important;
  border: 2px solid;
  box-shadow: 1px 1px 5px #FFFFFF, -1px -1px 5px #FFFFFF;
  min-height: 42px;
}
button.el-button--empty-token i.s-icon-chevron-down-rounded-16 {
  background-color: rgba(255,255,255,0.75) !important;
  color: var(--s-color-theme-secondary) !important;
}

button.el-button.details.s-link {
  border: none !important;
  color: inherit !important;
  box-shadow: unset !important;
}
button.el-button.details.s-link:hover {
  border: none !important;
  color: inherit !important;
  box-shadow: unset !important;
  background-color: unset !important;
  filter: unset !important;
}
button.el-button.details.s-link:hover > span > i {
  color: var(--s-color-theme-accent);
}

button.el-button.send.s-small, button.el-button.swap.s-small {
  height: 48px;
  width: 48px;
}

div.asset-search-actions button.el-button--plain,
div.asset-custom-actions button.el-button--plain,
div.wallet-assets button.el-button--plain,
button.el-button--create-pair{
  color: #fff !important;
  border: 1px solid #ddd !important;
  transition: all 0.25s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

div.asset-search-actions button.el-button--plain:hover,
div.asset-custom-actions button.el-button--plain:hover,
div.wallet-assets button.el-button--plain:hover,
button.el-button--create-pair:hover {
  color: #fff !important;
  border: 1px solid #ddd !important;
  background-color: var(--s-color-theme-secondary-hover) !important;
  filter: drop-shadow(1px 1px 5px #ccc) drop-shadow(-1px -1px 5px #ccc);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
button.el-button.s-primary {
  color: #fff;
  box-shadow: 1px 1px 5px #FFFFFF, -1px -1px 5px #FFFFFF;
  border: 1px solid #ddd;
  transition: all 0.25s ease-in-out;
}
button.el-button.s-primary:hover {
  border: 1px solid #F7F3F4;
  filter: drop-shadow(1px 1px 3px #F754A3) drop-shadow(-1px -1px 3px #F754A3);
  box-shadow: 1px 1px 3px #FFFFFF, -1px -1px 3px #FFFFFF;
}
button.el-button.s-primary:disabled {
  border: 1px solid #F7F3F4;
  filter: none;
}
button.el-button--max {
  background-color: var(--s-color-max) !important;
  color: #fff !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: var(--s-font-size-small);
  transition: all 0.125s ease-in-out;
}
button.el-button--max:hover {
  border: 1px solid rgba(0,0,0,0);
  background-color: var(--s-color-status-success) !important;
  box-shadow: 1px 1px 5px #fff, -1px -1px 5px #fff;
}
button.el-button--primary.s-primary {
  font-size: var(--s-icon-font-size-medium) !important;
}


div.icon-container {
  background-color: var(--s-color-utility-surface) !important;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.125s ease-in-out;
  border-radius: 50% !important;
  height: 42px !important;
  width: 42px !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
div.icon-container > i {
  margin: auto !important;
  line-height: 44px !important;
  text-align: center;
  width: 44px;
}

a.menu-item--small div.icon-container {
  background-color: unset !important;
  box-shadow: unset !important;
}

li.el-menu-item.is-active div.icon-container {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8);
}


button.el-dialog__headerbtn,
div.page-header--center button.s-action.s-i-position-left,
button.base-title_back,
button.base-title_trash,
button.base-title_action,
i.el-collapse-item__arrow,
button.el-button--history,
button.el-button--switch-tokens,
button.el-button--settings {
  background-color: var(--s-color-utility-surface) !important;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.125s ease-in-out;
}
button.el-dialog__headerbtn:hover,
div.page-header--center button.s-action.s-i-position-left:hover,
button.base-title_back:hover,
button.base-title_trash:hover,
button.base-title_action:hover,
i.el-collapse-item__arrow:hover,
button.el-button--history:hover,
button.el-button--switch-tokens:hover,
button.el-button--settings:hover {
  background-color: var(--s-color-theme-secondary-pressed) !important;
  opacity: 0.75;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
button.el-dialog__headerbtn:hover > i.el-icon,
div.page-header--center button.s-action.s-i-position-left:hover > span > i,
button.base-title_back:hover > span > i,
button.base-title_trash:hover > span > i,
button.base-title_action:hover > span > i,
button.el-button--history:hover > span > i,
button.el-button--switch-tokens:hover > span > i,
button.el-button--settings:hover > span > i
{ color: white !important; }
i.el-icon, i.s-icon-arrows-chevron-left-rounded-24 {
  color: var(--s-color-theme-secondary) !important;
  font-size: var(--s-icon-font-size-big) !important;
  transition: all 0.125s ease-in-out;
}
div.asset-details-actions i, div.wallet-assets-item.s-flex button.el-button--primary i {
  color: white !important;
}

div.el-pagination button, div.el-collapse-item__wrap { background-color: unset !important; }
span.el-pagination__total { padding: 0 8px; }
div.asset-details-balance i.s-icon-chevron-down-rounded-16 { padding-right: 8px; }
div.el-collapse-item__content {padding-top: 0 !important;font-weight: 600;}
div.pool-info--buttons {margin: 0 auto !important; padding-bottom: 16px;justify-content: space-around;}
div.pool-info--buttons button span {font-size: 16px !important;}
div.pool-info-container {background-color: var(--s-color-utility-body) !important;}

/*
i.s-icon-arrows-chevron-left-rounded-24 {
  font-size: 40px !important;
  line-height: 24px;
  margin-left: -9px;
}
*/
/*
form.el-form--actions.el-form--label-right div.input-container div.input-line-content div.token button.el-button--choose-token.s-tertiary span {
  padding-right: 8px;
}
form.el-form--actions.el-form--label-right div.input-container--second div.input-line-content div.token button.el-button--choose-token.s-tertiary span {
  padding-right: 0;
}
div.page-header--swap + div.input-container div.input-line-content div.token button.el-button--choose-token.s-tertiary span {
  padding-right: 0;
}
*/


/* ICONS */
span.token-logo {
  border: none !important;
  box-shadow: none !important;
}
i.s-icon-chevron-down-rounded-16 {
  background-color: var(--s-color-theme-secondary);
  color: white !important;
  border-radius: var(--s-border-radius-medium);
  padding: 2px;
}



/* FORMS */
div.s-input-amount input.el-input__inner, div.s-input--token-value input.el-input__inner {
  font-variation-settings: var(--s-font-weight-700) !important;
  font-size: var(--s-heading3-font-size) !important;
  color: var(--s-color-base-content-quaternary) !important;
}
form.el-form.container > div.input-container ~ div.input-container,
div.el-card__body > div.bridge-item ~ div.bridge-item {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), inset 1px 1px 2px #FFFFFF;
}
div.input-container, div.bridge-item {
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
div.slippage-tolerance-custom_input input.el-input__inner {
  color: var(--s-color-theme-accent) !important;
}

div.transaction div.s-input-container {margin-top: 16px;}

div.asset-search-input input.el-input__inner, div.asset-custom-address input.el-input__inner, div.transaction input.el-input__inner, div.asset-search input.el-input__inner, div.custom-asset-address input.el-input__inner,
div.token-search input.el-input__inner, div.wallet-settings-create-token input.el-input__inner, span.el-switch__core {
  box-shadow: inset 1px 1px 2px #FFFFFF;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: var(--s-icon-font-size-mini) !important;
}
div.wallet-settings-create-token_supply-block {justify-content: left !important;}
div.wallet-settings-create-token_supply-block div.s-switch {margin-left: 16px !important;}
div.wallet-settings-create-token_supply-block span,
div.wallet-settings-create-token input.el-input__inner {font-weight: 700 !important;}
p.wallet-settings-create-token_desc {padding: 8px 16px 16px !important;line-height: 1.25 !important;}

div.wallet-settings-create-token_supply-block {background: unset !important;}

div.asset-value {font-weight: 800 !important; font-size: 16px;}
div.asset-description_symbol {font-weight: 800 !important; font-size: 20px;}
div.asset-description_info { margin-top: -8px !important;}
span.el-tooltip.asset-id {float: right;}
div.asset-search-actions {margin-bottom: 0 !important; margin-top: 16px;}
div.asset-search-list div.asset:hover, div.asset-search-list div.asset.selected {
    background-color: var(--s-color-theme-secondary-pressed) !important;
}
div.history-item.s-flex {padding: 8px 24px;margin-left: -14px;margin-right: -16px;}
div.history-item-operation { color: var(--s-color-theme-accent-hover) !important;}
div.history-item-title {font-weight: 600;letter-spacing: -0.02em;}
div.transaction-row_key {text-transform: uppercase;}
div.transaction-row_value{color: var(--s-color-base-content-quaternary) !important;font-weight: 600;}

/* TABS */
div.el-tabs__nav-wrap, div.slippage-tolerance-custom input.el-input__inner, div.pool-info-container {
  box-shadow: inset 1px 1px 2px #FFFFFF;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: var(--s-icon-font-size-mini) !important;
}
div.el-tabs__nav-wrap div.el-tabs__item {
  font-size: var(--s-icon-font-size-mini) !important;
}
div.el-tabs__item.is-active {
  color: var(--s-color-theme-accent) !important;
  background-color: var(--s-color-utility-surface) !important;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1) !important;
}

div.wallet div.wallet-assets { margin-top: 16px;}

div.el-collapse-item__header {background-color: unset !important;}
div.el-collapse-item__header h3 {font-weight: 700;}

div.pool-tokens-amount {font-weight: 700; text-align: center}
div.s-row.pool-tokens.row-flex {font-weight: 800;justify-content: center;}
div.info-line {color: var(--s-color-base-content-primary) !important; font-size: 13px !important; line-height: 1.1 !important; border-bottom: 1px solid #ede4e7; margin-top: 12px !important;}
span.info-line-label, div.input-title.p4 {text-transform: uppercase;}
span.info-line-value {font-weight: 600;}
div.output-description{text-align: center;max-width: 300px;margin: auto;}

div.tokens-info-container, span.asset-item__balance {font-weight: 800 !important;}
span.token-logo {margin-right: 8px!important;}

div.asset-item__name,
span.asset-item__balance {font-size: 16px !important; letter-spacing: -0.04em; white-space: nowrap;}

i.el-notification__icon.el-icon-success, i.el-notification__icon.el-icon-success:hover {
  color: var(--s-color-status-success) !important;
}

i.asset-logo {
  box-shadow: none !important;
  border: none !important;
}
i.asset-logo--pswap {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath fill='%23ED145B' d='M11,0C4.9,0,0,4.9,0,11s4.9,11,11,11s11-4.9,11-11S17.1,0,11,0z'/%3E%3Cpath fill='%23FFFFFF' d='M16,6.1c0.7,0.7,0.7,1.7,0,2.4c-0.7,0.7-4.4,2-4.4,2s1.4-3.8,2-4.4S15.3,5.4,16,6.1z M11,1.8 c0.9,0,1.7,0.8,1.7,1.7C12.7,4.5,11,10,11,10S9.3,4.5,9.3,3.5C9.3,2.6,10.1,1.8,11,1.8z M6.1,6.1c0.7-0.7,1.7-0.7,2.4,0 c0.7,0.7,2,4.4,2,4.4s-3.8-1.4-4.4-2C5.4,7.8,5.4,6.7,6.1,6.1z M1.8,11c0-0.9,0.8-1.7,1.7-1.7S10,11,10,11s-5.5,1.7-6.5,1.7 S1.8,11.9,1.8,11z M6.1,15.9c-0.7-0.7-0.7-1.7,0-2.4c0.7-0.7,4.4-2,4.4-2s-1.4,3.8-2,4.4C7.8,16.6,6.8,16.6,6.1,15.9z M11,20.2 c-0.9,0-1.7-0.8-1.7-1.7S11,12,11,12s1.7,5.5,1.7,6.5S11.9,20.2,11,20.2z M16,15.9c-0.7,0.7-1.7,0.7-2.4,0c-0.7-0.7-2-4.4-2-4.4 s3.8,1.4,4.4,2C16.6,14.2,16.6,15.3,16,15.9z M18.5,12.7C17.5,12.7,12,11,12,11s5.5-1.7,6.5-1.7c0.9,0,1.7,0.8,1.7,1.7 C20.2,11.9,19.4,12.7,18.5,12.7z'/%3E%3C/svg%3E") !important;
}



div.el-tooltip__popper {
  border-radius: var(--s-border-radius-mini) !important;
  border-color: var(--s-color-brand-day) !important;
  padding: 6px 8px !important;
}

div.token-item__details span.token-item__address {
  position: absolute;
  right: -151px;
}
span.token-item__amount {
  white-space: nowrap;
}
div.token-item__amount-container {
  margin-top: -25px;
}
div.token-item__amount-container span, div.token-item__symbol {
  font-size: 20px !important;
  letter-spacing: -0.06em !important;
  font-weight: 800 !important;
}
div.token-item__symbol {
  font-size: 20px !important;
  letter-spacing: -0.02em !important;
  font-weight: 800 !important;
  margin-top: -6px !important;
  margin-bottom: 2px !important;
}
div.token-item {
  transition: all 0.125s ease-in-out;
}
div.token-item:hover {
  background-color: var(--s-color-theme-secondary-pressed) !important;
}



.menu.el-menu:not(.el-menu--horizontal) > :not(:last-child) {
    margin-bottom: 0 !important;
}
.s-menu:not(.el-menu--horizontal) > :not(:last-child) {
    margin-bottom: 0 !important;
}
ul.menu li.el-menu-item {
  font-weight: 400 !important;
  font-size: 16px !important;
  letter-spacing: -0.02em;
  padding: 8px 20px !important;
}
a.menu-item--small {
  padding: 0 10px !important;
}
a.menu-item--small span {
  font-weight: 400 !important;
  font-size: 11px !important;
  letter-spacing: -0.02em;
  color: var(--s-color-theme-secondary) !important;
}
a.menu-item--small div.icon-container {
  margin: 0 !important;
}
li.el-menu-item.is-active i {
  color: var(--s-color-theme-accent) !important;
}
div.app-body {
  padding-left: 320px;
  left: -160px;
}
div.sidebar-item-content span {
  line-height: 44px;
}


div.el-card__header i {
  display: none;
}
div.article-card {
  height: 100% !important;
}


/*
html {
  --scrollbarBG: #000;
  --thumbBG: #ff009a;
}
html::-webkit-scrollbar,.content-scroll::-webkit-scrollbar {
  width: 12px;
}
html,.content-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html::-webkit-scrollbar-track,.content-scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb,.content-scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border:1px solid var(--scrollbarBG);
}
..........
html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
*/




