$font-weight-100: "wght" 100;
$font-weight-200: "wght" 200;
$font-weight-300: "wght" 300;
$font-weight-400: "wght" 400;
$font-weight-500: "wght" 500;
$font-weight-600: "wght" 600;
$font-weight-700: "wght" 700;
$font-weight-800: "wght" 800;

/* Networks Icons */
$s-icon-sora: "\0041";
$s-icon-eth: "\0044";
$s-icon-energy: "\0048";
.s-icon-sora {
  &.s-icon--network {
    &, &:hover {
      color: #E3232C !important;
    }
  }
  &:before {
    content: $s-icon-sora;
  }
}
.s-icon-eth {
  &.s-icon--network {
    &, &:hover {
      color: #627EEA !important;
    }
  }
  &:before {
    content: $s-icon-eth;
  }
}
.s-icon-energy {
  &.s-icon--network {
    &, &:hover {
      color: #a566ff !important;
    }
  }
  &:before {
    content: $s-icon-energy;
  }
}

/*________________________________________ICONS________________________________________*/
i[class^="s-icon-"], i[class*=" s-icon-"] {
  color: var(--s-color-base-content-tertiary);
  transition: var(--s-transition-default);
  &:hover {
    color: var(--s-color-base-content-secondary);
  }
}
.asset-details-actions {
  button.el-button span {
    left: 0;
    i:hover {
      color: var(--s-color-base-on-accent) !important;
    }
  }
}
/*________________________________________COMMON LAYOUT________________________________________*/
body, .el-loading-mask {
  background-color: var(--s-color-utility-body);
}
h3 {
  text-transform: capitalize;
}
// TODO: fix outline issue in js ui library
.el-tooltip, .el-slider__button-wrapper {
  outline: none;
}

/* FONT WEIGHTS */
button.el-button--primary span,
div.asset-search-actions button.el-button span,
button.el-button--max {
  font-variation-settings: $font-weight-800 !important;
}

/* BUTTONS */
div.asset-details-actions i, div.wallet-assets-item.s-flex button.el-button--primary i {
  color: var(--s-color-base-on-accent) !important;
}

div.el-pagination button, div.el-collapse-item__wrap { background-color: unset !important; }
span.el-pagination__total { padding: 0 8px; }
div.asset-details-balance i.s-icon-chevron-down-rounded-16 { padding-right: 8px; }

/* FORMS */
div.asset-search-actions {margin-bottom: 0 !important; margin-top: 16px;}
div.history-item-operation { color: var(--s-color-theme-accent-hover) !important;}
div.transaction-row_key {text-transform: uppercase;}
div.transaction-row_value{color: var(--s-color-base-content-quaternary) !important;font-weight: 600;}

i.el-notification__icon.el-icon-success, i.el-notification__icon.el-icon-success:hover {
  color: var(--s-color-status-success) !important;
}
div.el-card__header i {
  display: none;
}
div.article-card {
  height: 100% !important;
}

/*_______________________ CURRENT UI FIXES FOR CONSISTENCY (GENERALLY BASED ON TEST USERS FEEDBACK) _______________________*/
button.el-button.el-tooltip.el-button--primary.el-button--medium.is-disabled.s-medium.s-border-radius-small.s-primary.s-i-position-left span {
  font-size: var(--s-icon-font-size-mini) !important;
}

span.sora-logo__title,
h3.base-title_text,
h3.page-header-title, 
span.el-dialog__title,
h3.network-label,
p.app-disclaimer,
span.el-pagination__total,
div.el-tabs__item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*_______________________ CURRENT UI QUICK LAYOUT UPDATE PROPOSAL/FIX ALIGNMENTS + MIN-WIDTH 528px LOOK OK/USABLE  _______________________*/
footer.app-footer {
  padding-right: 22px !important;
  padding-bottom: 20px !important;
}

div#app {
  min-width: 528px;
}
div.app-body {
  min-width: 464px;
}

@media screen and (min-width: 900px) {
  .el-dialog__wrapper {
    left: 160px;
  }
}
@media screen and (max-width: 460px) {
  div.app-body {
    margin-left: -10px;
  }
}

/*___about page___*/
p.about-disclaimer {
  min-width: 800px;
  width: 100% !important;
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto 120px !important;
}
footer.about-footer {
  min-width: 800px;
  justify-content: center !important;
}
