$color-max: #44E5B2; // green fluro emerald

$font-weight-100: "wght" 100;
$font-weight-200: "wght" 200;
$font-weight-300: "wght" 300;
$font-weight-400: "wght" 400;
$font-weight-500: "wght" 500;
$font-weight-600: "wght" 600;
$font-weight-700: "wght" 700;
$font-weight-800: "wght" 800;

/* Networks Icons */
$s-icon-sora: "\0041";
$s-icon-eth: "\0044";
$s-icon-energy: "\0048";
.s-icon-sora {
  &.s-icon--network {
    &, &:hover {
      color: #E3232C !important;
    }
  }
  &:before {
    content: $s-icon-sora;
  }
}
.s-icon-eth {
  &.s-icon--network {
    &, &:hover {
      color: #627EEA !important;
    }
  }
  &:before {
    content: $s-icon-eth;
  }
}
.s-icon-energy {
  &.s-icon--network {
    &, &:hover {
      color: #a566ff !important;
    }
  }
  &:before {
    content: $s-icon-energy;
  }
}

/*________________________________________ICONS________________________________________*/
@font-face {
  font-family: "soramitsu-icons";
  src: url("~@/assets/fonts/polkaswap_icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i[class^="s-icon-"], i[class*=" s-icon-"] {
  color: var(--s-color-theme-secondary) !important;
  transition: all 0.125s ease-in-out;
  &:hover {
    color: var(--s-color-theme-secondary-hover) !important;
  }
}
.asset-details-actions {
  button.el-button span {
    left: 0;
    i:hover {
      color: white !important;
    }
  }
}
/*________________________________________COMMON LAYOUT________________________________________*/
body, .el-loading-mask {
  background-color: var(--s-color-utility-body);
}
h3 {
  text-transform: capitalize;
}
// TODO: fix outline issue in js ui library
.el-tooltip, .el-slider__button-wrapper {
  outline: none;
}

/* FONT WEIGHTS */
span.el-dialog__title {
  font-variation-settings: $font-weight-400 !important;
  letter-spacing: var(--s-letter-spacing-mini) !important;
}
button.el-button span {
  font-variation-settings: $font-weight-600 !important;
}
button.el-button--primary span,
button.el-button--choose-token span,
div.asset-search-actions button.el-button span,
button.el-button--max {
  font-variation-settings: $font-weight-800 !important;
}

/* TEXT */
span.token-balance-title,
span.bridge-item-title-label,
div.input-title.p4 span:first-child,
button.el-button--primary,
div.asset-search-actions button.el-button,
div.wallet-assets button.el-button,
.s-button--restore,
div.asset-custom-actions button.el-button,
div.el-tabs__item,
button.select-node-button span {
  text-transform: uppercase !important;
}

/* CARDS */
div.el-card, div.el-dialog {
  background-color: var(--s-color-utility-surface) !important;
}

/* BUTTONS */
button {
  > span {
    left: 1px; // because of inset shadow
  }
}

div.el-card.bridge-item {
  background-color: var(--s-color-base-background) !important;
}

button.el-button.s-primary:disabled {
  border-color: var(--s-color-base-border-primary) !important;
  border: 2px solid;
  box-shadow: 1px 1px 5px #FFFFFF, -1px -1px 5px #FFFFFF;
  min-height: 42px;
}

button.el-button.details.s-link {
  border: none !important;
  color: inherit !important;
  box-shadow: unset !important;
}
button.el-button.details.s-link:hover {
  border: none !important;
  color: inherit !important;
  box-shadow: unset !important;
  background-color: unset !important;
  filter: unset !important;
}
button.el-button.details.s-link:hover > span > i {
  color: var(--s-color-theme-accent);
}

button.el-button.send.s-small, button.el-button.swap.s-small {
  height: 48px;
  width: 48px;
}

div.select-node button.el-button--plain,
div.node-info button.el-button--plain,
.s-button--restore {
  color: #fff !important;
  border: 1px solid #ddd !important;
  transition: all 0.25s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

div.select-node button.el-button--plain:hover,
div.node-info button.el-button--plain:hover,
.s-button--restore:hover {
  color: #fff !important;
  border: 1px solid #ddd !important;
  background-color: var(--s-color-theme-secondary-hover) !important;
  filter: drop-shadow(1px 1px 5px #ccc) drop-shadow(-1px -1px 5px #ccc);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
button.el-button--max, button.asset-max {
  background-color: $color-max !important;
  color: #fff !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: var(--s-font-size-small);
  transition: all 0.125s ease-in-out;
}
button.el-button--max:hover, button.asset-max:hover {
  border: 1px solid rgba(0,0,0,0);
  background-color: var(--s-color-status-success) !important;
  box-shadow: 1px 1px 5px #fff, -1px -1px 5px #fff;
}

a.menu-item--small div.icon-container {
  background-color: unset !important;
  box-shadow: unset !important;
}

li.el-menu-item.is-active div.icon-container {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8);
}

button.el-dialog__headerbtn,
button.base-title_back,
button.base-title_trash,
i.el-collapse-item__arrow,
button.s-button--switch {
  background-color: var(--s-color-utility-surface) !important;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.125s ease-in-out;
  border: none;
}
button.el-dialog__headerbtn:hover,
button.base-title_back:hover,
button.base-title_trash:hover,
i.el-collapse-item__arrow:hover,
button.s-button--switch:hover {
  background-color: var(--s-color-theme-secondary-pressed) !important;
  opacity: 0.75;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
button.el-dialog__headerbtn:hover > i.el-icon,
button.base-title_back:hover > span > i,
button.base-title_trash:hover > span > i,
button.s-button--switch:hover > span > i {
  color: white !important;
}
i.el-icon, i.s-icon-arrows-chevron-left-rounded-24 {
  color: var(--s-color-theme-secondary) !important;
  font-size: var(--s-icon-font-size-big) !important;
  transition: all 0.125s ease-in-out;
}
div.asset-details-actions i, div.wallet-assets-item.s-flex button.el-button--primary i {
  color: white !important;
}

div.el-pagination button, div.el-collapse-item__wrap { background-color: unset !important; }
span.el-pagination__total { padding: 0 8px; }
div.asset-details-balance i.s-icon-chevron-down-rounded-16 { padding-right: 8px; }
div.el-collapse-item__content {padding-top: 0 !important;font-weight: 600;}

/* FORMS */
div.s-input-amount input.el-input__inner {
  font-variation-settings: $font-weight-700 !important;
  font-size: var(--s-heading3-font-size) !important;
  color: var(--s-color-base-content-quaternary) !important;
}
form.el-form.container > div.input-container ~ div.input-container,
div.el-card__body > div.bridge-item ~ div.bridge-item {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), inset 1px 1px 2px #FFFFFF;
}
div.input-container, div.bridge-item, div.wallet-send-amount {
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
div.slippage-tolerance-custom_input input.el-input__inner {
  color: var(--s-color-theme-accent) !important;
}

div.transaction div.s-input-container {margin-top: 16px;}

div.transaction input.el-input__inner, div.custom-asset-address input.el-input__inner, span.el-switch__core, .node-info-input input.el-input__inner {
  box-shadow: inset 1px 1px 2px #FFFFFF;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: var(--s-icon-font-size-mini) !important;
}

div.asset-value {font-weight: 800 !important; font-size: 16px;}
div.asset-description_symbol {font-weight: 800 !important; font-size: 20px;}
div.asset-description_info { margin-top: -8px !important;}
div.asset-search-actions {margin-bottom: 0 !important; margin-top: 16px;}
div.asset-search-list div.asset:hover, div.asset-search-list div.asset.selected {
    background-color: var(--s-color-theme-secondary-pressed) !important;
}
div.history-item.s-flex {padding: 8px 24px;margin-left: -14px;margin-right: -16px;}
div.history-item-operation { color: var(--s-color-theme-accent-hover) !important;}
div.history-item-title {font-weight: 600;letter-spacing: -0.02em;}
div.transaction-row_key {text-transform: uppercase;}
div.transaction-row_value{color: var(--s-color-base-content-quaternary) !important;font-weight: 600;}

/* TABS */
div.el-tabs__nav-wrap, div.pool-info-container, div.wallet-send-address input.el-input__inner {
  box-shadow: inset 1px 1px 2px #FFFFFF;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: var(--s-icon-font-size-mini) !important;
}
div.el-tabs__nav-wrap div.el-tabs__item {
  font-size: var(--s-icon-font-size-mini) !important;
}
div.el-tabs__item.is-active {
  color: var(--s-color-theme-accent) !important;
  background-color: var(--s-color-utility-surface) !important;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1) !important;
}

div.wallet div.wallet-assets { margin-top: 16px;}

div.el-collapse-item__header {background-color: unset !important;}
div.el-collapse-item__header h3 {font-weight: 700;}

div.pool-tokens-amount {font-weight: 700; text-align: center}
div.s-row.pool-tokens.row-flex {font-weight: 800;justify-content: center;}
span.info-line-label, div.input-title.p4 {text-transform: uppercase;}
span.info-line-value {font-weight: 600;}
div.output-description{text-align: center;max-width: 300px;margin: auto;}

div.tokens-info-container, span.asset-item__balance {font-weight: 800 !important;}

div.asset-item__name,
span.asset-item__balance {font-size: 16px !important; letter-spacing: -0.04em; white-space: nowrap;}

i.el-notification__icon.el-icon-success, i.el-notification__icon.el-icon-success:hover {
  color: var(--s-color-status-success) !important;
}
span.token-item__amount {
  white-space: nowrap;
}
div.token-item__amount-container {
  margin-top: -25px;
}
div.token-item__amount-container span, div.token-item__symbol {
  font-size: 20px !important;
  letter-spacing: -0.06em !important;
  font-weight: 800 !important;
}
div.token-item__symbol {
  font-size: 20px !important;
  letter-spacing: -0.02em !important;
  font-weight: 800 !important;
  margin-top: -6px !important;
  margin-bottom: 2px !important;
}
div.token-item {
  transition: all 0.125s ease-in-out;
}
div.token-item:hover {
  background-color: var(--s-color-theme-secondary-pressed) !important;
}
.menu.el-menu:not(.el-menu--horizontal) > :not(:last-child) {
    margin-bottom: 0 !important;
}
.s-menu:not(.el-menu--horizontal) > :not(:last-child) {
    margin-bottom: 0 !important;
}
ul.menu li.el-menu-item {
  font-weight: 400 !important;
  font-size: 16px !important;
  letter-spacing: -0.02em;
  padding: 8px 20px !important;
}
a.menu-item--small {
  padding: 0 10px !important;
}
a.menu-item--small span {
  font-weight: 400 !important;
  font-size: 11px !important;
  letter-spacing: -0.02em;
  color: var(--s-color-theme-secondary) !important;
}
a.menu-item--small div.icon-container {
  margin: 0 !important;
}
li.el-menu-item.is-active i {
  color: var(--s-color-theme-accent) !important;
}
div.sidebar-item-content span {
  line-height: 44px;
}
div.el-card__header i {
  display: none;
}
div.article-card {
  height: 100% !important;
}

/*_______________________ CURRENT UI FIXES FOR CONSISTENCY (GENERALLY BASED ON TEST USERS FEEDBACK) _______________________*/
div.history-item-operation {
  padding: 0 !important;
}
button.select-node-button,
button.el-button.wallet-assets-add,
.s-button--restore {
  font-size: var(--s-icon-font-size-medium) !important;
}
i.s-icon-circle-plus-16, i.s-icon-circle-plus-16:hover {
  font-size: inherit !important;
  color: white !important;
}
div.el-message-box {
  border-radius: 24px !important;
}
div.transaction-content div.el-collapse, div.history-item {
  margin-right: inherit !important;
  margin-left: inherit !important;
  border-radius: var(--s-border-radius-mini) !important;
}
button.s-button--create-transaction {
  margin-top: 20px;
}
button.s-button--create-transaction:hover {
  color: var(--s-color-base-content-secondary) !important;
}
button.s-button--create-transaction:active {
  border: none !important;
}
div.header-icon {
  margin: 16px auto !important;
}
button.el-button.el-tooltip.el-button--primary.el-button--medium.is-disabled.s-medium.s-border-radius-small.s-primary.s-i-position-left span {
  font-size: var(--s-icon-font-size-mini) !important;
}
div.pool-list div.el-collapse-item__content {
  margin-top: 16px;
  padding-top: 16px !important;
  border-top: 1px solid var(--s-color-theme-secondary);
}

span.sora-logo__title,
h3.base-title_text,
h3.page-header-title, 
span.el-dialog__title,
h3.network-label,
p.app-disclaimer,
span.el-pagination__total,
div.el-tabs__item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*_______________________ CURRENT UI QUICK LAYOUT UPDATE PROPOSAL/FIX ALIGNMENTS + MIN-WIDTH 528px LOOK OK/USABLE  _______________________*/
aside.app-sidebar {
  border-right: 1px solid #e5dce0 !important;
  border-image: linear-gradient(#FAF4F8, #D5CDD0, #FAF4F8) 30;
}
div.app-controls span.el-tooltip button.el-button.el-tooltip.wallet.el-button--plain.el-button--medium.s-medium.s-border-radius-small.s-secondary.s-i-position-left {
  margin-right: 4px;
}
footer.app-footer {
  padding-right: 22px !important;
  padding-bottom: 20px !important;
}
a.sidebar-item-content--link {
  padding: 0 0 0 13px !important;
}
aside.app-sidebar ul:nth-of-type(2) li:nth-of-type(2) li.menu-link-container a.sidebar-item-content--link {
  padding: 10px 10px 4px 20px !important;
  line-height: 1.1;
}
aside.app-sidebar ul:nth-of-type(2) li:nth-of-type(2) li.menu-link-container:before {
  left: 20px;
  opacity: 0.2;
  margin-top: 3px;
  width: 100px;
}

div#app {
  min-width: 528px;
}
div.app-body {
  min-width: 448px;
}

@media screen and (max-width: 900px) {
  button.polkaswap-logo {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 1.5px !important;
    width: var(--s-size-medium) !important;
    height: var(--s-size-medium) !important;
    padding: 0;
    border-radius: 0;
  }
}
@media screen and (min-width: 900px) {
  button.polkaswap-logo {
    height: 44px !important;
    width: 165px !important;
    padding: 0 !important;
    margin-top: 10px;
    margin-bottom: 0 !important;
  }
  .el-dialog__wrapper {
    left: 160px;
  }
}
@media screen and (max-width: 600px) {
  aside.app-sidebar {
    width: 70px !important;
    margin-right: 10px !important;
    overflow-x: hidden;
    border-right: none !important;
  }
  div.icon-container + span {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  button.polkaswap-logo {
    display: inherit !important;
  }
  div.app-body {
    margin-left: -10px;
  }
}

/*___about page___*/
p.about-disclaimer {
  min-width: 800px;
  width: 100% !important;
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto 120px !important;
}
footer.about-footer {
  min-width: 800px;
  justify-content: center !important;
}

/* Whitelist neumorphism */
.add-asset-details_confirm {
  flex-direction: row-reverse;
  justify-content: flex-end !important;
  background: none !important;
  > :first-child {
    padding-left: 12px;
  }
}
.add-asset-details_text {
  background: #C6E2FF !important;
  color: #479AEF !important;
  box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.add-asset-details_asset {
  background: none !important;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8);
}
