$s-color-brand-day: #A19A9D; // 0d0248
// Primary theme colors
$s-color-theme-accent: #E81932; // NEU bright pink fluro
$s-color-theme-accent-hover: #FF95A2;// NEU pale quartz pink
$s-color-theme-accent-pressed: #E81932;
$s-color-theme-accent-focused: #E81932;

$s-color-theme-accent--dark: #E81932;// NEU bright pink fluro
$s-color-theme-accent-hover--dark: #FF95A2; // NEU pale quartz pink
$s-color-theme-accent-pressed--dark: #E81932;
$s-color-theme-accent-focused--dark: #E81932;
// Secondary theme colors
$s-color-theme-secondary: #DDFF77;
$s-color-theme-secondary-hover: #BBDD55;
$s-color-theme-secondary-pressed: #24DAA0;
$s-color-theme-secondary-focused: #24DAA0;

$s-color-theme-secondary--dark: #DDFF77;
$s-color-theme-secondary-hover--dark: #BBDD55;
// Base content colors
$s-color-base-content-primary: #221111;
$s-color-base-content-secondary: #665555;
$s-color-base-content-tertiary: #CCBBBB;
$s-color-base-content-quaternary: #A3A4A8;

$s-color-base-content-primary--dark: #CACECE;
$s-color-base-content-secondary--dark: #B0C8C8;
$s-color-base-content-tertiary--dark: #889B9B;
$s-color-base-content-quaternary--dark: #75787b;
// Base misc colors
$s-color-base-background: #F4F0F0;
$s-color-base-border-primary: #F2F0F0;
$s-color-base-border-secondary: #EAEAE8;
$s-color-base-background-hover: #F2E9EF;
$s-color-base-disabled: #F1ECEC;
$s-color-base-on-disabled: #998888;
$s-color-base-on-accent: #FFFFFF;

$s-color-base-background--dark: #2a2a2a;
$s-color-base-border-primary--dark: #2D3636;
$s-color-base-border-secondary--dark: #2D3636;
$s-color-base-on-accent--dark: #2F3C3C;
$s-color-base-background-hover--dark: #ff77771f;
// Utility colors
$s-color-utility-body: #F6F2F2;
$s-color-utility-surface: #F8F4F4;
$s-color-utility-overlay: rgba(26, 47, 47, 0.1);

$s-color-utility-body--dark: #222222;
$s-color-utility-surface--dark: #1c1c1c;
$s-color-utility-overlay--dark: #131311;
// Status colors
$s-color-status-success: #34AD87;
$s-color-status-warning: #8997A6;
$s-color-status-error: #FE5360;
$s-color-status-success-background: #B9EBDB;
$s-color-status-warning-background: #C1D2E3;
$s-color-status-error-background: #FFD8EB;
// Fiat colors
$s-color-fiat-value: #C1D2E3 !default;
$s-color-rewards: #c0e2ff !default;

//Shadow colors
$s-shadow-color-primary: #E81932;
$s-shadow-color-secondary: #FF95A2;

$s-shadow-color-primary--dark: #E81932;
$s-shadow-color-secondary--dark: #FF95A2;

// Sizes
$s-size-mini: 24px;
$s-size-small: 32px;
$s-size-medium: 42px;
$s-size-big: 58px;
// Shadows
$s-shadow-surface: 1px 1px 5px var(--s-shadow-color-dark), inset 1px 1px 1px var(--s-shadow-color-dark);
$s-shadow-tooltip: 0px 1px 4px rgba(13, 2, 72, 0.35);
$s-shadow-tab: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1); // 0px 1px 1px rgba(0, 0, 0, 0.1);
$s-shadow-dropdown: 0px 4px 8px rgba(19, 19, 19, 0.15);
$s-shadow-mobile-tap-bar: 0px -4px 8px rgba(19, 19, 19, 0.15);
$s-shadow-mobile-side-menu: -4px 4px 8px rgba(19, 19, 19, 0.15);

$s-shadow-dialog: -5px -5px 30px rgba(232, 25, 50, 0.02), 10px 10px 60px rgba(232, 25, 50, 0.1), inset 1px 1px 10px #FFFFFF;
$s-shadow-element: 1px 1px 5px #FFFFFF, inset -5px -5px 5px rgba(232, 25, 50, 0.05), inset 1px 1px 10px rgba(232, 25, 50, 0.05);
$s-shadow-element-pressed: -5px -5px 5px rgba(232, 25, 50, 0.05), 1px 1px 25px rgba(232, 25, 50, 0.1), inset 1px 1px 10px #FFFFFF;

$s-shadow-dialog--dark: -10px -10px 30px rgba(232, 25, 50, 0.1), 20px 20px 60px rgba(232, 25, 50, 0.15);
$s-shadow-element--dark: 1px 1px 2px rgba(255, 255, 255, 0.1), inset -5px -5px 5px rgba(232, 25, 50, 0.05), inset 1px 1px 10px rgba(232, 25, 50, 0.05);
$s-shadow-element-pressed--dark: -5px -5px 5px rgba(232, 25, 50, 0.05), 2px 2px 25px rgba(232, 25, 50, 0.33), inset 1px 1px 2px #52523D;

// Border Radius
$s-border-radius-base: 16px;
$s-border-radius-mini: $s-border-radius-base;
$s-border-radius-small: $s-border-radius-base * 1.5;
$s-border-radius-medium: $s-border-radius-base * 2;
$s-border-radius-big: $s-border-radius-base * 3;
// Fonts paths
$s-font-family-default-path: '~@soramitsu/soramitsu-js-ui/lib/assets/fonts/Sora-VariableFont_wght.ttf' !default;
$s-font-family-mono-path: '~@soramitsu/soramitsu-js-ui/lib/assets/fonts/JetBrainsMono-Regular.woff' !default;
$s-font-family-icons-path: '~@/assets/fonts/polkaswap_icons.ttf' !default;
// Font Feature Settings
$s-font-feature-settings-common: normal;
$s-font-feature-settings-heading: normal;
$s-font-feature-settings-caps-heading: normal;
$s-font-feature-settings-caps: normal;
$s-font-feature-settings-singleline: normal;
$s-font-feature-settings-card-title: normal;
$s-font-feature-settings-input: normal;
$s-font-feature-settings-button: normal;
// Transition
$s-transition-default: all 0.125s ease-in-out;
//neu shadows
$neu-button-primary-box-shadow--dark: 1px 1px 5px $s-color-base-background--dark, -1px -1px 5px $s-color-base-background--dark;
$neu-button-primary-box-shadow-hover: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px white, 0px 0px 20px $s-color-theme-accent;
$neu-button-primary-box-shadow-hover--dark: 1px 1px 5px rgba(0, 0, 0, 0.7), -1px -1px 5px black, 0px 0px 20px $s-color-theme-accent--dark;
// Asset item height
$s-asset-item-height: 71px;
$s-asset-item-height--fiat: 86px;

@import "../../node_modules/@soramitsu/soramitsu-js-ui/lib/styles/index";

:root {
  --s-color-brand-day: #{$s-color-brand-day};
  --s-transition-default: #{$s-transition-default};
  // Fiat colors
  --s-color-fiat-value: #{$s-color-fiat-value};
  --s-color-rewards: #{$s-color-rewards};
  // Asset item height
  --s-asset-item-height: #{$s-asset-item-height};
  --s-asset-item-height--fiat: #{$s-asset-item-height--fiat};
}
