$s-color-brand-day: #A19A9D; // 0d0248
// Primary theme colors
$s-color-theme-accent: #F8087B; // NEU bright pink fluro
$s-color-theme-accent-hover: #F754A3; // NEU pale quartz pink
$s-color-theme-accent-pressed: #bf065f;
$s-color-theme-accent-focused: #ab0555;
// Secondary theme colors
$s-color-theme-secondary: #44E5B2;
$s-color-theme-secondary-hover: #24DAA0;
$s-color-theme-secondary-pressed: #24DAA0;
$s-color-theme-secondary-focused: #24DAA0;
// Base content colors
$s-color-base-content-primary: #2A171F;
$s-color-base-content-secondary: #A19A9D;
$s-color-base-content-tertiary: #D5CDD0;
$s-color-base-content-quaternary: #75787b;
// Base misc colors
$s-color-base-background: #FAF4F8;
$s-color-base-border-primary: #F7F3F4;
$s-color-base-border-secondary: #EDE4E7;
$s-color-base-background-hover: #F7F3F4;
$s-color-base-disabled: #FDF7FB;
$s-color-base-on-disabled: #A19A9D;
$s-color-base-on-accent: #FFFFFF;
// Utility colors
$s-color-utility-body: #F7F3F4;
$s-color-utility-surface: #FDF7FB;
$s-color-utility-overlay: rgba(0, 0, 0, 0.45);
// Status colors
$s-color-status-success: #34AD87;
$s-color-status-warning: #479AEF;
$s-color-status-error: #F754A3;
$s-color-status-success-background: #B9EBDB;
$s-color-status-warning-background: #C6E2FF;
$s-color-status-error-background: #FFD8EB;
// Sizes
$s-size-mini: 24px;
$s-size-small: 32px;
$s-size-medium: 42px;
$s-size-big: 58px;
// Shadows
$s-shadow-surface: 1px 1px 5px var(--s-shadow-color-dark), inset 1px 1px 1px var(--s-shadow-color-dark);
$s-shadow-tooltip: 0px 1px 4px rgba(13, 2, 72, 0.35);
$s-shadow-tab: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1); // 0px 1px 1px rgba(0, 0, 0, 0.1);
$s-shadow-dropdown: 0px 4px 8px rgba(19, 19, 19, 0.15);
$s-shadow-mobile-tap-bar: 0px -4px 8px rgba(19, 19, 19, 0.15);
$s-shadow-mobile-side-menu: -4px 4px 8px rgba(19, 19, 19, 0.15);
// Border Radius
$s-border-radius-base: 16px;
$s-border-radius-mini: $s-border-radius-base;
$s-border-radius-small: $s-border-radius-base * 1.5;
$s-border-radius-medium: $s-border-radius-base * 2;
$s-border-radius-big: $s-border-radius-base * 3;
// Font Feature Settings
$s-font-feature-settings-common: normal;
$s-font-feature-settings-heading: normal;
$s-font-feature-settings-caps-heading: normal;
$s-font-feature-settings-caps: normal;
$s-font-feature-settings-singleline: normal;
$s-font-feature-settings-card-title: normal;
$s-font-feature-settings-input: normal;
$s-font-feature-settings-button: normal;

:root {
  --s-color-brand-day: #{$s-color-brand-day};
}

@import "../../node_modules/@soramitsu/soramitsu-js-ui/lib/styles/index";
