@import "../../node_modules/@soramitsu/soramitsu-js-ui/lib/styles/index";

$s-color-theme-accent: #ed145b;
$s-color-button-tertiary-color: $s-color-theme-accent;
$s-color-button-tertiary-color-active: $s-color-theme-accent;
$s-color-button-tertiary-background: $s-color-theme-secondary;
$s-color-button-tertiary-background-hover: $s-color-theme-secondary-hover;
$s-color-button-tertiary-background-pressed: $s-color-theme-secondary-pressed;
$s-color-button-tertiary-background-focused: $s-color-theme-secondary-focused;

// Border Radius
$local-border-radius-base: 8px;
$local-border-radius-mini: $local-border-radius-base !default;
$local-border-radius-small: $local-border-radius-base * 1.5 !default;
$local-border-radius-medium: $local-border-radius-base * 2 !default;
$local-border-radius-big: $local-border-radius-base * 3 !default;

:root {
  --s-color-theme-accent: #{$s-color-theme-accent};
  --s-color-button-tertiary-color: #{$s-color-button-tertiary-color};
  --s-color-button-tertiary-color-active: #{$s-color-button-tertiary-color-active};
  --s-color-button-tertiary-background: #{$s-color-button-tertiary-background};
  --s-color-button-tertiary-background-hover: #{$s-color-button-tertiary-background-hover};
  --s-color-button-tertiary-background-pressed: #{$s-color-button-tertiary-background-pressed};
  --s-color-button-tertiary-background-focused: #{$s-color-button-tertiary-background-focused};
  // Border Radius
  --s-border-radius-mini: #{$local-border-radius-mini};
  --s-border-radius-small: #{$local-border-radius-small};
  --s-border-radius-medium: #{$local-border-radius-medium};
  --s-border-radius-big: #{$local-border-radius-big};
}
