PHYTOSANITARY REQUIREMENTS

There must be a Phytosanitary Certificate for exporters and importers of agricultural produce.
Agricultural products must be free of soil
Agricultural products must be free of insects
Agricultural products must be free of pathogens
Live plants must be treated with the appropriate chemicals
Medicinal plants and herbs must be dried


