	Commodities and their Import Requirements


Commodity
           Import Requirements

All planting material, plant cuttings, live plants, cut flowers and ornamentals, other unprocessed plant products or other regulated item as indicated in Regulations to the Act
Import Permit from Antigua and Barbuda to be obtained prior to placement of order and presentation of permit to exporter upon ordering of consignment


Phytosanitary certificate from exporting country to accompany shipment


Quarantine Inspector to inspect consignment before shipment can be released


Chemical or other treatment as required and stipulated on Import Permit


Freedom from soil


Import Permit to be obtained for each individual consignment


Payment of relevant fees



Plants, plant products and other regulated items not previously imported, importedfrom a new country or not imported for a period exceeding two years
Pest Risk Assessment to be carried out by Risk Assessment team prior to issuance of import permit



Plant products not otherwise specified
Obtain clearance from Plant Protection 



























 PAGE  1



 PAGE  3



