.bridge-content > .el-card__body {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.bridge-form {
  max-width: 464px;
  width: 100%;
}
.bridge-form .el-loading-mask {
  border-radius: var(--s-border-radius-medium);
}
@keyframes pulse-animation-1850cc59 {
  0% {
    box-shadow: 0 0 #ffffff40;
  }
  to {
    box-shadow: 0 0 0 10px #fff0;
  }
}
.connect-wallet-logo[data-v-1850cc59] {
  height: 18px;
  width: 18px;
}
.history-button-icon[data-v-1850cc59] {
  animation: pulse-animation-1850cc59 2s infinite;
  background: var(--s-color-status-info);
  border-radius: 50%;
  bottom: 4px;
  height: 12px;
  position: absolute;
  right: 2px;
  width: 12px;
}
@media (prefers-reduced-motion: reduce) {
  .history-button-icon[data-v-1850cc59] {
    animation: none;
  }
}
.bridge[data-v-1850cc59] {
  align-items: center;
  flex-direction: column;
}
.bridge-content[data-v-1850cc59] {
  min-height: 400px;
  width: 100%;
}
.bridge-content .s-button--switch[data-v-1850cc59] {
  margin-bottom: 16px;
  margin-top: 16px;
}
.bridge-content .s-divider-tertiary[data-v-1850cc59] {
  margin-bottom: 8px;
  margin-top: 8px;
}
.bridge-content .el-buttons[data-v-1850cc59] {
  align-items: center;
  display: flex;
}
.bridge-content .el-buttons--between[data-v-1850cc59] {
  flex: 1;
  justify-content: space-between;
}
.bridge-content .el-buttons .el-button[data-v-1850cc59] {
  margin-left: 4px;
  margin-right: 4px;
}
.bridge-content .el-buttons .el-button[data-v-1850cc59]:last-child {
  margin-right: 0;
}
.bridge-content .el-button--next[data-v-1850cc59] {
  margin-top: 16px;
  width: 100%;
}
.bridge-content .input-title--network[data-v-1850cc59] {
  white-space: nowrap;
}
.bridge-content .network-icon[data-v-1850cc59] {
  height: calc(var(--s-size-small) / 2);
  width: calc(var(--s-size-small) / 2);
}
.bridge-header-buttons[data-v-1850cc59] {
  display: flex;
  align_items: center;
  gap: 8px;
  margin-left: auto;
}
.bridge-footer[data-v-1850cc59] {
  align-items: center;
  color: var(--s-color-base-content-secondary);
  display: flex;
  font-size: var(--s-font-size-mini);
  line-height: var(--s-line-height-big);
}
.bridge-footer[data-v-1850cc59],
.bridge-limit-card[data-v-1850cc59] {
  margin-top: 16px;
}
