                                   ‫قسم المحاجر الب ط ة‬


‫مثل قسم المحاجر الب ط ة ب دارة اﻹنتاج الحيوا الو الة المساعدة لل وة الحيوان ة‬
 ‫منافذ ممل ة ال ح ن ال ة ) ج الملك فهد( ال ح ة ) ميناء خل فة بن سلمان (‬
    ‫الج ة )الشحن الجوي مطار ال ح ن الدو ( ع مدار اﻷسب ع ‪ 24‬ساعة ‪،‬‬
‫لﻺرسال ات الحيوان ة من )ا قار‪ ،‬اغنام‪ ،‬خيول ‪ ,‬طيور ‪ ,‬ﻼب ‪ ,‬قطط واخري (‪ ،‬ولحوم‬
‫الحمراء ولحوم الدواجن مجمدة وم دة وعن واعﻼف حيوان ة وجلد ورش خام ومواد‬
   ‫و ادو ة ب ط ة و ض التفق س وص صان عمر يوم واحد واردة ا منافذ ممل ة‬
                                   ‫ال ح ن ‪.‬‬




                                                     ‫‪1‬‬

                    ‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‪vetquarantine@mun.gov.bh‬‬
                   ‫‪To communicate via e-mail, please send to vetquarantine@mun.gov.bh‬‬
                                   ‫اﻻخوة المستوردين اﻻفاضل‬
  ‫ــ ـح أست اد الحيوانات الح ة واللحوم الغ مصنعة والمنتجات‬                              ‫ضوا ط تقد م طل ات ت‬
                           ‫الحيوان ة واغذ ة الحيوانات‬
   ‫ومن أجل تنظ م وض ط عمل ات أست اد الحيوانات الح ة واللحوم غ المصنعة والمنتجات‬
  ‫الحيوان ة واغذ ة الحيوانات وفقا لﻸنظمة والقوان ذات العﻼقة و ما حقق المصلحة العامة‬
                                                  ‫ومصلحة المستوردين‪ ،‬ير اﻹحاطة اﻵ ‪:‬‬
                                                                                   ‫ً‬
       ‫أو ‪ :‬جب أن يتم تقد م طل ات استخراج تصار ـ ـح اﻷست اد )اللحوم الحمراء والب ضاء ‪+‬‬
      ‫والمنتجات الحيوان ة( فقط ق ل أسب ع ع اﻷقل من التار ـ ـخ المتوقع لوصول اﻹرسال ة ا‬
   ‫ممل ة ال ح ن‪ ،‬علما ﺄن صﻼح ة ت ــ ـح اﻷست اد شهر واحد اعت ارا من تار ـ ـخ صدوره‪.‬‬


  ‫ثاينا‪ :‬جب أن يتم تقد م طل ات استخراج تصار ـ ـح است اد اﻷعﻼف الحيوان ة ق ل شهر واحد‬
‫ع اﻷقل من التار ـ ـخ المتوقع لوصول اﻹرسال ة إ ممل ة ال ح ن‪ ،‬علما ﺄن صﻼح ة الت ــ ـح‬
                                                       ‫‪ 3‬أشهر اعت ارا من تار ــ ـخ صدوره‪.‬‬
  ‫ثالثا‪ :‬يتم تقد م الطل ات من اﻷحد ا الخم س من الساعة ‪ 7‬ص احا ا الساعة ‪ 1‬عد الظهر‬
                            ‫– بوري ‪.‬‬    ‫ح ث أوقات عمل قسم المحاجر الب ط ة الرئ‬
                                            ‫را عا‪ :‬خصوص الحيوانات الح ة الطل ات التجارة فقط‬
 ‫‪ -1‬الموا )يتم عن ط ق م اﻷستمارة المخصصة ذلك وارسالها ا ال د اﻻل و ا‬
    ‫قسم المحاجر الب ط ة فقط من دول مجلس التعاون اما خصوص دول القرن اﻻف‬
 ‫جب ان يتم الت سيق مع جهة التصدير مس قا مع رئ س قسم المحاجر الب ط ة( جب‬
   ‫ع المستوردين مراعة السعة اﻻس عاب ة للمحجر الب طري حال رفض الت ـ ـح‪.‬‬


                                                       ‫‪2‬‬

                      ‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‪vetquarantine@mun.gov.bh‬‬
                     ‫‪To communicate via e-mail, please send to vetquarantine@mun.gov.bh‬‬
  ‫و ا‬   ‫‪ -2‬الطيور )يتم عن ط ق م اﻻستمارة المخصصة ذلك وارسالها ا ال د اﻻل‬
                                                   ‫قسم المحاجر الب ط ة(‬
    ‫‪ -3‬ال ﻼب والقطط )يتم عن ط ق م اﻻستمارة المخصصة ذلك وارسالها ا ال د‬
            ‫اﻻل و ا قسم المحاجر الب ط ة وارسال صور من دف التطع مات(‬
                                               ‫خامسا‪ :‬اﻻل ام متطل ات التصار ــ ـح المذكورة أدناه‪:‬‬
‫‪ -1‬تعبﺌة استمارة طلب ت ـ ـح اﻻست اد ع نظام أفق مع ملء افة الب انات المطل ة‬
                                     ‫وارفاق افة المس ندات ع نظام افق‪.‬‬
 ‫‪ -2‬عند الحصول ع رقم الطلب ع نظام افق‪ ،‬جب إرسال استمارة طلب ت ــ ـح‬
           ‫اﻻست اد مع افة المس ندات واﻷوراق المطل ة ع ال د اﻹل و ‪:‬‬
‫سادسا‪ :‬خصوص اﻻست اد الشخ فقط مسم ح للحيوانات الح ة وغ مسم ح للمنتجات‬
  ‫الحيوان ة واللحوم واﻻعﻼف الب ط ة و جب ان يتم ‪1‬ذلك عن ط ق الحضور الشخ ا‬
          ‫قسم المحاجر الب ط ة من الساعة ‪ 7‬ص ا الساعة ‪ 1‬ظ من اﻻحد ا الخم س‪.‬‬
             ‫المس ندات المطل ة توف ها عند وصول اﻻرسال ات ا المنافذ‬
                                                ‫‪ -1‬شهادة صح ة حكوم ة اصل ة‬
                                                         ‫‪ -2‬شهادة م شﺄ اصل ة‬
               ‫‪ -3‬شهادة ذبح حﻼل اصل ة )للحوم الحمراء والب ضاء ماعدا الخ ر (‬
                                             ‫‪ -4‬دف التطع مات ) ﻼب وقطط (‬
                                ‫‪ -5‬شهادة فحص الدم ‪ )RNAT‬ال ﻼب والقطط (‬


                                                                                            ‫مﻼحظات‪:‬‬


                                                    ‫‪3‬‬

                   ‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‪vetquarantine@mun.gov.bh‬‬
                  ‫‪To communicate via e-mail, please send to vetquarantine@mun.gov.bh‬‬
                            ‫‪ -1‬حال عدم أرسال افة المتطل ات املة س تم رفض الطلب‪.‬‬
                                   ‫‪ -2‬لن يتم التعامل مع أي طلب يرسل عد الساعة ‪1‬ظهرا‪.‬‬
 ‫‪ -3‬جب التﺄ د من الدول المسم ح اﻻست اد منها والمسالخ المعتمدة فيها‪ .‬لن يتم قبول أي‬
                        ‫طلب لﻼست اد من مسالخ غ معتمدة من و الة ال وة الحيوان ة‪.‬‬
 ‫‪ -4‬تقدم طل ات اﻹست اد عن ط ق ال د اﻹل و فقط‪ ،‬ولن يتم أستق ال أي طل ات عن‬
                                                   ‫ط ق الهاتف أو المحجر الب طري‪.‬‬
‫‪ -5‬حال وصول اﻹرسال ة للمنفذ لم صدر لها ت ـ ـح است اد مسبق‪ ،‬فإن اﻹدارة غ ملزمة‬
    ‫ب صدار ت ـ ـح است اد فوري ح ث س تم التعامل مع الطلب ك ا الطل ات الواردة ع‬
                                                                   ‫ال د اﻻل و ‪.‬‬
 ‫‪ -6‬قوائم المسالخ والدول لممل ة ال ح ن المعتمدة جب التق د بها و حال تقد م الطلب‬
   ‫وتم ذكر ان المسالخ المعتمدة من الجهات المختصة الرسم ة الدولة المراد اﻻست اد‬
‫منها جب عل م ارفاق اﻻعتماد الرس من الجهات الرسم ة الدولة المصدرة و حال‬
         ‫عدم احضار اﻻعتماد س تم رفض الطلب مثال ع ذلك الدول من اﻻتحاد اﻷورو‬
   ‫مذكور القوائم جميع المسالخ المعتمدة من اﻻتحاد اﻷورو جب ان تكون المسلخ‬
‫معتمد من اﻻتحاد اﻷورو لنفس ال شاط المراد اﻻست اد منه ) مسلخ لحوم أ قار او اغنام‬
                                            ‫او دواجن ( غ ذلك ﻻ عت المسلخ معتمد ‪.‬‬

                 ‫الحضور للت سيق مع قسم المحاجر الب ط ة‬                                 ‫خصوص التصدير ير‬
            ‫و للمحجر الب طري‬              ‫جميع اﻻستفسارات والش اوى جب أرسالها ع ب د اﻻل‬


                             ‫شا ن ل م حسن تعاون م ‪،،‬‬



                                                       ‫‪4‬‬

                      ‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‪vetquarantine@mun.gov.bh‬‬
                     ‫‪To communicate via e-mail, please send to vetquarantine@mun.gov.bh‬‬
                            Veterinary Quarantine section

The Veterinary Quarantine section of the Animal Production directorate of the
Livestock Assistance Agency is represented at the Kingdom of Bahrain’s land
(King Fahd Causeway), sea (Khalifa bin Salman Port), air (air cargo, Bahrain
International Airport) ports, 7 days 24 hours, for Live animal consignments of
(cows, sheep, etc.) Horses, birds, dogs, cats, and others, Raw red meat, frozen
and chilled Raw poultry meat, animal feed, veterinary materials, and
medicines, Raw leather & Feathers hatching eggs and one day old chicks
imported to the ports of the Kingdom of Bahrain.




                                                    5

                   vetquarantine@mun.gov.bh‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‬
                  To communicate via e-mail, please send to vetquarantine@mun.gov.bh
                                            Dear Importers

    Controls for submitting applications for a permit to import live animals,
            unprocessed meat, animal products, and animal food.

To organize and control the importation of live animals, unprocessed meat,
animal products and animal food in accordance with the relevant regulations
and laws and in a way that achieves the public interest and the interest of
importers, please note the following:

First: Applications for import permits (red and white raw meat + animal
products and animal feed) must be submitted at least one week before the
expected date of the shipment’s arrival in the Kingdom of Bahrain, considering
that the validity of the import permit is one month from the date of its
issuance.

Second: Applications for permits to import animal feed must be submitted at
least one month before the expected date of the shipment’s arrival in the
Kingdom of Bahrain, considering that the permit is valid for 3 months from the
date of its issuance.




                                                     6

                    vetquarantine@mun.gov.bh‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‬
                   To communicate via e-mail, please send to vetquarantine@mun.gov.bh
Third: Applications are submitted from Sunday to Thursday from 7 am to 1
pm., which is the working hours of the main veterinary quarantine section -
Buri.

Fourth: Regarding live animals, (commercial applications only)
  1- Livestock (this is done by filling out the designated form and sending it by
     email to the Veterinary Quarantine Section only from the Gcc countries.
     As for the countries of the Horn of Africa, coordination must be made
     with the export destination in advance with the head of the Veterinary
     Quarantine Section). Importers must consider the capacity of the
     veterinary Quarantine in the event of a permit refusal.
  2- Birds (this is done by filling out the designated form and sending it via e-
     mail to the Veterinary Quarantine Section)
  3- Dogs and cats (these are done by filling out the designated form and
     sending it via e-mail to the Veterinary Quarantine Section and sending a
     copy of the vaccination booklet)

Fifth: Commitment to the permit requirements mentioned below:
      1- Fill out the import permit application form on the Ofoq system, filling
      in all the required data and attaching all documents on the Ofoq system.
      2- When obtaining the application number through the Ofoq system, the
      import permit application form must be sent with all the required
      documents and papers via email.

                                                     7

                    vetquarantine@mun.gov.bh‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‬
                   To communicate via e-mail, please send to vetquarantine@mun.gov.bh
Sixth: Regarding personal import, only live animals are allowed, and animal
products, meat, and veterinary feed are not allowed. This must be done by
personally attending the veterinary Quarantine Section from 7 a.m. to 1 p.m.
from Sunday to Thursday.
      Documents required to be provided when consignments arrive at the
      ports:
      1- An original government health certificate
      2- Original certificate of origin
      3- Original halal slaughter certificate for red and white raw meat, (except
         pork meat)
      4- Vaccination book (dogs and cats)
      5- RNAT blood test certificate (dogs and cats)




                                                     8

                    vetquarantine@mun.gov.bh‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‬
                   To communicate via e-mail, please send to vetquarantine@mun.gov.bh
Notes:
1- If all requirements are not sent in full, the application will be rejected.
2- Any request sent after 1 pm will not be processed.
3- It is necessary to verify the countries from which imports are permitted
and the slaughterhouses approved in them. Any request for import from
slaughterhouses not approved by the Livestock Agency will not be
accepted.
4- Import requests must be submitted via e-mail only, and no requests
will be received by phone or at the veterinary quarantine.
5- If the consignment arrives at the port and no import permit has not
been issued prior, the section is not obligated to issue an immediate
import permit, as the request will be treated like other requests received
via email.
6- The lists of approved slaughterhouses and countries in the Kingdom of
Bahrain must be adhered to. If the application is submitted and it is stated
that the slaughterhouses are approved by the official competent
authorities in the country from which you want to import, you must
attach the official accreditation from the official authorities in the
exporting country. If the accreditation is not brought, the application will
be rejected. Example: Those countries from the European Union are
mentioned in the lists of all slaughterhouses approved by the European
Union. The slaughterhouse must be certified by the European Union for
the same activity from which it is intended to be imported (a

                                                9

               vetquarantine@mun.gov.bh‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‬
              To communicate via e-mail, please send to vetquarantine@mun.gov.bh
slaughterhouse of beef, sheep, or poultry). Otherwise, the
slaughterhouse is not considered accredited.

Regarding export, please come to coordinate with the Veterinary
Quarantine Section

All inquiries and complaints must be sent via email to the veterinary
Quarantine

                          Thank you for your cooperation,




                                               10

              vetquarantine@mun.gov.bh‫للتواصل عبر البريد اﻹلكتروني الرجاء اﻹرسال الى‬
             To communicate via e-mail, please send to vetquarantine@mun.gov.bh
